<.simple_form :let={f} 
    for={@changeset} action={@action}
    hx-post={@action}
    hx-target="#form_container"
    hx-disabled-elt="#form-button"
    autocomplete="off"
    >
    
    <.flash_group flash={@flash} />

    <.input field={f[:name]} type="text" label="Name" required autocomplete="new-name" />
    <.input field={f[:table]} type="text" label="Context" required />
    
    <:actions>
        <button id="form-button" type="submit" class="w-full btn btn-primary flex space-x-3" >
            Create
            <span class="loading loading-spinner loading-md htmx-indicator"></span>
        </button>
    </:actions>
</.simple_form>



  