<div id="form_container">
    <.header>
      Update User
    </.header>
    
    <.user_form 
      changeset={@changeset} 
      action={"#{get_url()}/#{@user.id}"} 
      flash={@flash} 
      roles={@roles} 
      edit={true}
      lhns={@lhns}
      facilities={@facilities}
      campuses={@campuses}
    />
</div>
  
    