<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Users", to: "#{get_url()}"},
  %{label: "Update User"}
]} />
<div class="mx-auto max-w-3xl">
  <.form_header>
    Update User
    <:actions>
      <button
        hx-get={"#{get_url()}/#{@user.id}/change_password"}
        hx-target="#main-contents"
        hx-indicator="#main-contents-indicator"
        type="button"
        class="btn-sm-outline justify-self-end"
      >
        Change Password
      </button>
    </:actions>
  </.form_header>
</div>

<div id="form_container" class="mx-auto max-w-3xl">
  <.user_form
    changeset={@changeset}
    action={"#{get_url()}/#{@user.id}"}
    flash={@flash}
    roles={@roles}
    lhns={@lhns}
    facilities={@facilities}
    campuses={@campuses}
    edit={true}
  />
</div>
