<header>
  <h2 id="dialog-example-title">{@user.first_name} {@user.last_name}</h2>
  <p id="dialog-example-description">{@user.email}</p>
</header>
<section class="overflow-y-auto scrollbar">
  <dl class="flex flex-col gap-4">
    <div class="flex gap-2">
      <dt>Active:</dt>
      <dd>{if @user.active, do: "Yes", else: "No"}</dd>
    </div>

    <div class="flex gap-2">
      <dt>Role:</dt>
      <dd>{@user.role}</dd>
    </div>

    <div class="flex gap-2">
      <dt>Contact:</dt>
      <dd>{@user.contact_no}</dd>
    </div>

    <div class="flex gap-2">
      <dt>Local Health Network:</dt>
      <dd>{@user.local_health_network}</dd>
    </div>

    <div class="flex gap-2">
      <dt>Facility:</dt>
      <dd>{@user.facility}</dd>
    </div>

    <div class="flex gap-2">
      <dt>Campus:</dt>
      <dd>{@user.campus}</dd>
    </div>
  </dl>
</section>
<button type="button" aria-label="Close dialog" onclick="this.closest('dialog').close()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-x-icon lucide-x"
  >
    <path d="M18 6 6 18" />
    <path d="m6 6 12 12" />
  </svg>
</button>
