<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#main-contents"
  hx-disabled-elt="#form-button"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
  no_styles={true}
>
  <.flash_group flash={@flash} />

  <div class="grid grid-cols-2 gap-4 items-start">
    <.input
      field={f[:first_name]}
      type="text"
      label="First Name"
      required
      autocomplete="new-name"
    />
    <.input field={f[:last_name]} type="text" label="last Name" required autocomplete="new-name" />
    <.input field={f[:email]} type="email" label="Email" required autocomplete="new-email" />
    <.input field={f[:contact_no]} type="text" label="Conatct No" />
    <.input
      field={f[:role_id]}
      type="select"
      label="Role"
      prompt="Select..."
      options={@roles}
      required
    />
    <.input field={f[:active]} type="checkbox" label="Active" />
  </div>

  <%= if (!@edit) do %>
    <hr role="separator" class="my-6 border-border" />
    <h2 class="mb-6">Password</h2>
    <div class="grid grid-cols-2 gap-4 items-start">
      <.input
        field={f[:password]}
        type="password"
        label="Password"
        required
        autocomplete="new-password"
      />
      <.input field={f[:password_confirmation]} type="password" label="Confirm Password" required />
    </div>
  <% end %>

  <hr role="separator" class="my-6 border-border" />
  <h2 class="mb-6">Networks</h2>
  <div class="grid grid-cols-2 gap-4">
    <.input
      hx-get="/health_networks"
      hx-target="#user_facility_id"
      hx-on:htmx-after-on-load="selectRemoveOptions('user_campus_id')"
      hx-disinherit="*"
      field={f[:local_health_network_id]}
      type="simple-select"
      label="Local Health Network"
      prompt="Select..."
      options={@lhns}
    />

    <.input
      hx-get="/health_networks"
      hx-target="#user_campus_id"
      field={f[:facility_id]}
      type="simple-select"
      label="Facility"
      prompt="Select..."
      options={@facilities}
    />

    <.input
      field={f[:campus_id]}
      type="simple-select"
      label="Campus"
      prompt="Select..."
      options={@campuses}
    />
  </div>
  <div class="mt-10 flex justify-end gap-2">
    <button id="form-button" type="submit" class="btn">
      Save <.btn_htmx_indicator />
    </button>
  </div>
</.simple_form>
