<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <.form 
    class="space-y-6" 
    for={%{}} 
    method="post" 
    autocomplete="off"
    action={~p"/login"} 
    hx-post={~p'/login'} 
    hx-swap="outerHTML"
    hx-disabled-elt="#form-button"
    >
        <.alert flash={@flash} type={:error} />
        <div>
            <.simple_input label="Email" id="email" name="email" required autofocus autocomplete="new-password" />            
        </div>
        <div>
            <.simple_input label="Password" type="password" id="password" name="password" required autocomplete="new-password" />            
        </div>
        <div>
            <button id="form-button" type="submit" class="w-full btn btn-primary flex space-x-3" >
                Sign in
                <span class="loading loading-spinner loading-md htmx-indicator"></span>
            </button>
        </div> 
    </.form>
</div>