<section>
  <.form
    class="form grid gap-6"
    for={%{}}
    method="post"
    autocomplete="off"
    action={~p"/login"}
    hx-post={~p'/login'}
    hx-swap="outerHTML"
    hx-disabled-elt="#form-button"
    hx-indicator="#form-button-indicator"
  >
    <.alert flash={@flash} type={:error} />
    <.simple_input
      label="Email"
      id="email"
      name="email"
      required
      autofocus
      autocomplete="new-password"
    />
    <.simple_input
      label="Password"
      type="password"
      id="password"
      name="password"
      required
      autocomplete="new-password"
    />
    <button id="form-button" type="submit" class="btn w-full space-x-3">
      Sign in <.btn_htmx_indicator />
    </button>
  </.form>
</section>
