<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#main-contents"
  hx-disabled-elt="#form-button"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <section class="space-y-6">
    <.flash_group flash={@flash} />

    <.network_fields
      :if={@is_admin}
      form={f}
      id="ward"
      lhns={@lhns}
      facilities={@facilities}
      campuses={@campuses}
    />
    <%= if !@is_admin do %>
      <div class="grid grid-cols-2 gap-4">
        <.input
          :if={netwrok_access(false, "facility", @current_user)}
          hx-get="/health_networks"
          hx-target="#ward_campus_id"
          field={f[:facility_id]}
          type="select"
          label="Facility"
          prompt="Select..."
          options={@facilities}
        />
        <.input
          :if={netwrok_access(false, "campus", @current_user)}
          field={f[:campus_id]}
          type="select"
          label="Campus"
          prompt="Select..."
          options={@campuses}
        />
      </div>
    <% end %>

    <div class="grid grid-cols-2 gap-4 pt-6">
      <.input field={f[:name]} type="text" label="Name" required />
      <.input field={f[:code]} type="text" label="Code" required />
    </div>

    <footer class="flex justify-end space-x-3">
      <button id="form-button" type="submit" class="btn">
        Save <.btn_htmx_indicator />
      </button>
    </footer>
  </section>
</.simple_form>
