<div class="mx-auto max-w-7xl">
  <.header>
    Wards
    <:actions>
      <.search url={"#{get_url()}?table=1"} />
      <.new_button hx_get={"#{get_url()}/new"}>
        Create New
      </.new_button>
    </:actions>
  </.header>
</div>

<div class="mx-auto max-w-7xl mt-5 ">
  <.htmx_content_indicator id="data-table-indicator" />
  <div
    id="data-table"
    class="hide-on-htmx-request"
    hx-get={"#{get_url()}?table=1"}
    hx-trigger="reloadDataTable from:body"
    hx-indicator="#data-table-indicator"
  >
    <.data_table
      records={@records}
      meta={@meta}
      is_admin={@is_admin}
      can={@can}
      current_user={@current_user}
    />
  </div>
  <.table_form_modal />
</div>
