<div id="form_container">
  <.header>
    New Ward
  </.header>
  
  <.data_form 
    changeset={@changeset} 
    action={"#{get_url()}"} 
    flash={@flash} 
    edit={false} 
    is_admin={@is_admin} 
    lhns={@lhns}
    facilities={@facilities}
    campuses={@campuses}
    current_user={@current_user}
     />
</div>

  