<ul role="list" class="divide-y divide-white/5">
  <%= for record <- @records do %>
    <li class="relative flex items-center space-x-4 py-4">
      <div class="">
        <div class="flex items-center gap-x-3">
          <%= if record.is_admitted do %>
            <div class="flex-none rounded-full bg-green-100/10 p-1 text-green-500">
              <div class="size-2 rounded-full bg-current"></div>
            </div>
          <% else %>
            <div class="flex-none rounded-full bg-gray-100/10 p-1 text-gray-500">
              <div class="size-2 rounded-full bg-current"></div>
            </div>
          <% end %>

          <h2 class="min-w-0 text-sm/6 font-semibold text-white">
            <div class="flex gap-x-2">
              <span class="truncate"><%= record.first_name %> <%= record.last_name %></span>
              <span class="text-gray-400">/</span>
              <span><%= record.gender %></span>
            </div>
          </h2>
        </div>
        <div class="mt-3 flex items-center gap-x-2.5 text-xs/5 text-gray-400">
          <p class="truncate">TPN ID: <%= record.tpn_id %></p>
          <svg viewBox="0 0 2 2" class="size-0.5 flex-none fill-gray-300">
            <circle cx="1" cy="1" r="1" />
          </svg>
          <p class="whitespace-nowrap">DOB: <%= Calendar.strftime(record.dob, "%m/%d/%Y") %></p>
          <svg viewBox="0 0 2 2" class="size-0.5 flex-none fill-gray-300">
            <circle cx="1" cy="1" r="1" />
          </svg>
        </div>
      </div>
      <div class="flex flex-col space-y-2 pl-20 text-xs/5 text-gray-400">
        <p class="whitespace-nowrap">ID: <%= record.identity_no %></p>
        <p class="whitespace-nowrap">Email: <%= record.email %></p>
      </div>
      <div class="min-w-0 flex-auto flex flex-col space-y-2 pl-20 text-xs/5 text-gray-400">
        <p class="whitespace-nowrap">Phone: <%= record.phone %></p>
        <p class="whitespace-nowrap">Location: <%= record.city %></p>
      </div>
      <div
        hx-get={"#{@url}/#{record.id}"}
        hx-target="#main-contents"
        hx-indicator=".main-contents-loader"
        class="flex-none rounded-full bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20 cursor-pointer"
      >
        Preview
      </div>

      <button
        :if={@is_admin || @can.update}
        hx-get={"#{get_url()}/#{record.id}/edit"}
        hx-target="#table_modal_contents"
        hx-indicator="#table_modal_indicator"
        hx-on:click="table_modal.showModal()"
        type="button"
        class="btn btn-info btn-xs"
      >
        Edit
      </button>

      <.form
        :if={@is_admin || @can.delete}
        for={%{}}
        method="delete"
        action={"#{get_url()}/#{record.id}"}
        hx-delete={"#{get_url()}/#{record.id}"}
        hx-confirm="Are you sure to delete?"
      >
        <button class="btn btn-error btn-xs">
          Delete
        </button>
      </.form>
    </li>
  <% end %>
</ul>
