<%= if(!Enum.empty?(@records)) do %>
  <div class="rounded border border-card-foreground/10">
    <table class="w-full text-sm text-foreground-light">
      <thead>
        <tr>
          <th class="py-3 px-4 font-normal text-left">Patient</th>
          <th class="py-3 px-4 font-normal text-left">Status</th>
          <th class="py-3 px-4 font-normal text-left">ID</th>
          <th class="py-3 px-4 font-normal text-left">Contacts</th>
          <th class="py-3 px-4 font-normal text-left"></th>
        </tr>
      </thead>
      <tbody>
        <%= for record <- @records do %>
          <tr>
            <td class="py-3 px-4 border-t border-card-foreground/5 bg-card/60">
              <div class="font-semibold text-white">
                {record.first_name} {record.last_name}
              </div>
              <div class="mt-1 text-sm">
                {record.gender}, DOB: {Calendar.strftime(record.dob, "%m/%d/%Y")}
              </div>
            </td>
            <td class="py-3 px-4 border-t border-card-foreground/5 bg-card/60">
              <.status_badge :if={record.is_admitted} state={true} label="Admitted" icon={false} />
              <.status_badge :if={record.cancelled} state={false} label="Cancelled" icon={false} />
            </td>
            <td class="py-3 px-4 border-t border-card-foreground/5 bg-card/60">
              <div>
                TPN ID: {record.tpn_id}
              </div>
              <div class="mt-1">
                ID: {record.identity_no || "--"}
              </div>
            </td>
            <td class="py-3 px-4 text-sm border-t border-card-foreground/5 bg-card/60">
              <div>
                Phone: {record.phone}
              </div>
              <div class="mt-1">
                Email: {record.email || "--"}
              </div>
            </td>
            <td class="py-3 px-4 border-t border-card-foreground/5 bg-card/60">
              <div :if={!record.cancelled} class="flex items-center justify-end space-x-2">
                <button
                  hx-get={"#{get_url()}/#{record.id}"}
                  hx-target="#main-contents"
                  hx-swap="innerHTML"
                  hx-indicator="#main-contents-indicator"
                  type="button"
                  class="btn-icon-outline"
                >
                  <.icon_eye />
                </button>

                <button
                  :if={!record.is_admitted && (@is_admin || can_manage?(record, @current_user))}
                  class="btn-icon-outline"
                  type="button"
                  hx-get={"#{get_url()}/#{record.id}/edit"}
                  hx-target="#main-contents"
                  hx-indicator="#main-contents-indicator"
                >
                  <.icon_edit />
                </button>

                <.simple_form
                  :if={
                    !record.is_admitted && !record.has_admission &&
                      (@is_admin || can_manage?(record, @current_user))
                  }
                  for={%{}}
                  action={"#{get_url()}/#{record.id}"}
                  hx-post={"#{get_url()}/#{record.id}"}
                  hx-confirm="Are you sure to delete?"
                  no_styles={true}
                >
                  <input name="_method" type="hidden" value="delete" />
                  <button type="submit" class="btn-sm-icon-outline">
                    <.icon_trash class="text-destructive size-4" />
                  </button>
                </.simple_form>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <.no_records />
<% end %>
