<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Patients", to: "#{get_url()}"},
  %{label: "Update Patient"}
]} />
<div class="mx-auto max-w-4xl">
  <.form_header>
    Update Patient
    <:actions>
      <button
        hx-get={"#{get_url()}/#{@record.id}"}
        hx-target="#main-contents"
        hx-indicator="#main-contents-indicator"
        type="button"
        class="btn-sm-outline justify-self-end"
      >
        <.icon_eye class="size-3" /> View Patient Details
      </button>
    </:actions>
  </.form_header>
</div>
<div class="mx-auto max-w-4xl">
  <%= if @record.has_admission do %>
    <div class="flex gap-6 mt-14">
      <div class="card">
        <header>
          <h2 class="text-lg flex items-center gap-4">
            <.icon_clipboard_list class="size-6 text-muted-foreground" />
            {@record.first_name} {@record.last_name}
          </h2>
        </header>
        <section>
          <dl class="grid grid-cols-2 gap-8">
            <dt>Local Health Network:</dt>
            <dd>{@record.local_health_network}</dd>
            <dt>Facility:</dt>
            <dd>{@record.facility}</dd>
            <dt>Campus:</dt>
            <dd>{@record.campus}</dd>
          </dl>
        </section>
      </div>
      <div class="card w-[395px]">
        <header>
          <h2 class="text-lg flex items-center gap-4">
            &nbsp;
          </h2>
        </header>
        <section class="grid grid-cols-1 gap-4">
          <dl class="grid grid-cols-2 gap-8">
            <dt>TPN I.D:</dt>
            <dd>{@record.tpn_id}</dd>
            <dt>Birthday:</dt>
            <dd>{Calendar.strftime(@record.dob, "%B %d, %Y")}</dd>
            <dt>Gender:</dt>
            <dd>{@record.gender}</dd>
          </dl>
        </section>
      </div>
    </div>
  <% end %>

  <.simple_form
    :let={f}
    for={@changeset}
    action={"#{get_url()}/#{@record.id}"}
    hx-post={"#{get_url()}/#{@record.id}"}
    hx-disabled-elt="#form-button"
    hx-indicator="#form-button-indicator"
    hx-target="#main-contents"
    hx-on::config-request="formConfigRequest(event)"
    autocomplete="off"
  >
    <.flash_group flash={@flash} />
    <section class="w-full rounded-lg border scroll-mt-16">
      <header class="border-b px-4 py-3 font-semibold bg-card text-card-foreground">
        Patient Data
      </header>

      <div class="p-4 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        <.input field={f[:first_name]} type="text" label="First Name" required />
        <.input field={f[:last_name]} type="text" label="Last Name" required />
        <.input
          :if={!@record.has_admission}
          field={f[:dob]}
          type="date"
          label="Date of Birth"
          required
        />
        <.input
          :if={!@record.has_admission}
          field={f[:gender]}
          type="simple-select"
          label="Gender"
          options={@genders}
          required
        />
        <.input field={f[:identity_no]} type="text" label="Identity No" />
        <.input field={f[:email]} type="text" label="Email" />
        <.input field={f[:address_1]} type="text" label="Address 1" />
        <.input field={f[:address_2]} type="text" label="Address 2" />
        <.input field={f[:city]} type="text" label="City" />
        <.input field={f[:state]} type="text" label="State" />
        <.input field={f[:country]} type="text" label="Country" />
        <.input field={f[:zip]} type="text" label="Zip" />
        <.input field={f[:phone]} type="text" label="Phone" />

        <div class="divider col-span-3 ">
          <.input field={f[:notes]} type="textarea" label="Notes" />
        </div>
      </div>
    </section>

    <%= if !@record.has_admission do %>
      <section class="w-full rounded-lg border scroll-mt-16">
        <header class="border-b px-4 py-3 font-semibold bg-card text-card-foreground">
          Networks
        </header>
        <div class="p-4 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
          <.input
            :if={@is_admin}
            hx-get="/health_networks"
            hx-target="#patient_facility_id"
            hx-on:htmx-after-on-load="selectRemoveOptions('patient_campus_id');"
            field={f[:local_health_network_id]}
            type="simple-select"
            label="Local Health Network"
            prompt="Select..."
            options={@lhns}
            required
          />

          <.input
            :if={netwrok_access(@is_admin, "facility", @current_user)}
            hx-get="/health_networks"
            hx-target="#patient_campus_id"
            hx-on:htmx-after-on-load="triggerEvent(event.target.value, 'load_wards', 'facility', 'bed')"
            field={f[:facility_id]}
            type="simple-select"
            label="Facility"
            prompt="Select..."
            options={@facilities}
            required
          />

          <.input
            :if={netwrok_access(@is_admin, "campus", @current_user)}
            field={f[:campus_id]}
            type="simple-select"
            label="Campus"
            prompt="Select..."
            options={@campuses}
            required
          />
        </div>
      </section>
    <% end %>

    <:actions>
      <button id="form-button" type="submit" class="btn-sm btn-brand">
        Update <.htmx_indicator id="form-button-indicator" />
      </button>
    </:actions>
  </.simple_form>
</div>
