<div class="mx-auto max-w-7xl" x-data="patientSearchFilter">
  <.header>
    Patients Dashboard
    <:actions>
      <div class="flex items-center gap-3">
        <div class="relative">
          <.icon_search class="size-3 opacity-70 absolute left-2 top-1/2 -translate-y-1/2" />
          <input
            x-on:input.debounce.500ms="filter_patients();"
            type="text"
            name="filter"
            class="input pl-8 h-xs text-xs"
            autocomplete="off"
            placeholder="Search..."
          />
        </div>
        <div id="dropdown-menu-radio-group" class="dropdown-menu">
          <button
            type="button"
            id="dropdown-menu-radio-group-trigger"
            aria-haspopup="menu"
            aria-controls="dropdown-menu-radio-group-menu"
            aria-expanded="false"
            class="btn-sm-outline btn-xs"
          >
            <.icon_filter class="size-3 opacity-70" />
          </button>
          <div
            id="dropdown-menu-radio-group-popover"
            data-popover
            aria-hidden="true"
            class="min-w-56"
          >
            <div
              role="menu"
              id="dropdown-menu-radio-group-menu"
              aria-labelledby="dropdown-menu-radio-group-trigger"
            >
              <div role="group" aria-labelledby="position-options">
                <span id="position-options" role="heading">Search patients by</span>
                <hr role="separator" />
                <template x-for="(filter, index) in filters">
                  <div
                    @click="selected=filter;"
                    role="menuitemradio"
                    x-bind:aria-checked="filter === selected ? 'true' : 'false'"
                    class="group"
                  >
                    <div class="size-4 flex items-center justify-center">
                      <div
                        class="size-2 rounded-full bg-foreground invisible group-aria-checked:visible"
                        aria-hidden="true"
                        focusable="false"
                      >
                      </div>
                    </div>
                    <span x-text="filter"></span>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <.new_button hx_get={"#{get_url()}/new"}>
        Create New Patient
      </.new_button>
    </:actions>
  </.header>
  <input name="by_filter" id="by_filter" x-model="selected" type="hidden" />
</div>

<div class="mx-auto max-w-7xl mt-5">
  <.htmx_content_indicator id="data-table-indicator" />
  <div
    id="data-table"
    class="hide-on-htmx-request"
    hx-get={"#{get_url()}?table=1"}
    hx-vals="js:{...filterPatients()}"
    hx-trigger="reloadDataTable from:body"
    hx-target="#data-table"
    hx-indicator="#data-table-indicator"
  >
    <.data_table
      records={@records}
      meta={@meta}
      url={get_url()}
      is_admin={@is_admin}
      current_user={@current_user}
    />
  </div>
  <.table_form_modal size="large" has_scroll={true} />
</div>
