<div class="mx-auto max-w-7xl">
  <.header>
    New Patient
  </.header>

  <div class="flex items-center justify-between">
    <div class="breadcrumbs text-sm">
      <ul>
        <li>
          <a
            hx-get={"#{get_url()}"}
            hx-target="#main-contents"
            hx-indicator=".main-contents-loader"
          >
            Patients
          </a>
        </li>
        <li>New Patient</li>
      </ul>
    </div>
  </div>

  <.simple_form
    :let={f}
    for={@changeset}
    action={get_url()}
    hx-post={get_url()}
    hx-disabled-elt="#form-button"
    hx-target="#main-contents"
    hx-on::config-request="formConfigRequest(event)"
    autocomplete="off"
  >
    <.flash_group flash={@flash} />

    <div
      x-data="{}"
      x-init="
    let dob_date = flatpickr('#patient_dob', {
        maxDate: 'today',
        dateFormat: 'F j, Y',
    })
    "
      class="grid grid-cols-2 gap-4"
    >
      <.input field={f[:first_name]} type="text" label="First Name" required />
      <.input field={f[:last_name]} type="text" label="Last Name" required />
      <.input field={f[:dob]} type="text" label="Date of Birth" required />
      <.input field={f[:gender]} type="select" label="Gender" options={@genders} required />
      <.input field={f[:identity_no]} type="text" label="Identity No" />
      <.input field={f[:email]} type="text" label="Email" />
      <.input field={f[:address_1]} type="text" label="Address 1" />
      <.input field={f[:address_2]} type="text" label="Address 2" />
      <.input field={f[:city]} type="text" label="City" />
      <.input field={f[:state]} type="text" label="State" />
      <.input field={f[:country]} type="text" label="State" />
      <.input field={f[:zip]} type="text" label="Zip" />
      <.input field={f[:phone]} type="text" label="Phone" />
      <.input field={f[:notes]} type="textarea" label="Notes" />
    </div>

    <div class="divider col-span-2 ">Networks</div>
    <div class="grid grid-cols-2 gap-4">
      <.input
        :if={@is_admin}
        hx-get="/health_networks"
        hx-target="#patient_facility_id"
        hx-on:htmx-after-on-load="selectRemoveOptions('patient_campus_id');"
        field={f[:local_health_network_id]}
        type="select"
        label="Local Health Network"
        prompt="Select..."
        options={@lhns}
        required
      />

      <.input
        :if={netwrok_access(@is_admin, "facility", @current_user)}
        hx-get="/health_networks"
        hx-target="#patient_campus_id"
        hx-on:htmx-after-on-load="triggerEvent(event.target.value, 'load_wards', 'facility', 'bed')"
        field={f[:facility_id]}
        type="select"
        label="Facility"
        prompt="Select..."
        options={@facilities}
        required
      />

      <.input
        :if={netwrok_access(@is_admin, "campus", @current_user)}
        field={f[:campus_id]}
        type="select"
        label="Campus"
        prompt="Select..."
        options={@campuses}
        required
      />
    </div>

    <:actions>
      <button id="form-button" type="submit" class="w-28 btn btn-primary flex space-x-3">
        Create <span class="loading loading-spinner loading-md htmx-indicator"></span>
      </button>
    </:actions>
  </.simple_form>
</div>
