<div class="mx-auto max-w-7xl">
  <.header>
    Patient
  </.header>

  <div class="flex items-center justify-between">
    <div class="breadcrumbs text-sm">
      <ul>
        <li>
          <a
            hx-get={"#{get_url()}"}
            hx-target="#main-contents"
            hx-indicator=".main-contents-loader"
          >
            Patients
          </a>
        </li>
        <li>Patient Details</li>
      </ul>
    </div>
  </div>

  <.patient_details patient={@patient} age={@age} admission_number={@admission_number} />

  <.patient_admissions admissions={@admissions} />
</div>

<.form_modal classes="max-w-3xl" />
