<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Patients", to: "#{get_url()}"},
  %{label: "#{@patient.first_name} #{@patient.last_name}"}
]} />
<div class="mx-auto max-w-6xl">
  <.form_header>
    <div class="flex items-center gap-2">
      Patient Details <.status_badge :if={@patient.is_admitted} state={true} label="Admitted" />
    </div>
    <:subtitle>
      {@patient.first_name} {@patient.last_name}
    </:subtitle>
    <:actions>
      <div role="group" class="button-group justify-self-end">
        <button
          :if={!@patient.is_admitted}
          hx-get={"/patients/#{@patient.id}/admissions/new"}
          hx-target="#main-contents"
          hx-swap="innerHTML"
          hx-indicator="#main-contents-indicator"
          type="button"
          class="btn-sm-outline"
        >
          <.icon_plus class="size-3" /> New Admission
        </button>
        <button
          :if={@patient.is_admitted}
          class="btn-sm-outline"
          hx-get={"/patients/#{@patient.id}/orders/new/"}
          hx-target="#main-contents"
          hx-swap="innerHTML"
          hx-indicator="#main-contents-indicator"
        >
          <.icon_plus class="size-3" /> New Order
        </button>
        <.simple_form
          :if={@patient.is_admitted and @can_be_discharged}
          for={%{}}
          action="/patients/admissions/discharge"
          hx-post="/patients/admissions/discharge"
          hx-disabled-elt="#discharge-form-button"
          hx-indicator="#discharge-form-button-indicator"
          hx-target="#main-contents"
          no_styles={true}
        >
          <input type="hidden" name="patient_id" value={@patient.id} />
          <button
            type="submit"
            id="discharge-form-button"
            class="btn-sm-outline border-l-0 rounded-l-none"
          >
            <.icon_out class="size-3" /> Discharge Patient
            <.htmx_indicator id="discharge-form-button-indicator" />
          </button>
        </.simple_form>
      </div>
    </:actions>
  </.form_header>
</div>
<div class="tabs max-w-6xl mx-auto">
  <nav role="tablist" aria-orientation="horizontal">
    <button
      type="button"
      role="tab"
      id="patient-tab"
      aria-controls="patient-panel"
      aria-selected="true"
      tabindex="0"
    >
      <.icon_clipboard_list /> Patient
    </button>

    <button
      hx-get={"/patients/#{@patient.id}/admissions/list"}
      hx-target="#admissions_details_container"
      hx-indicator=".nonexistent"
      hx-on:htmx:after-request="handleIconLoader('admissions_details_loader', false)"
      hx-on:click="handleIconLoader('admissions_details_loader', true)"
      type="button"
      role="tab"
      id="admission-tab"
      aria-controls="admission-panel"
      aria-selected="false"
      tabindex="1"
    >
      <.icon_in /> Admissions
    </button>
    <button
      hx-get={"/patients/#{@patient.id}/orders/list"}
      hx-target="#orders_details_container"
      hx-indicator=".nonexistent"
      hx-on:htmx:after-request="handleIconLoader('orders_details_loader', false)"
      hx-on:click="handleIconLoader('orders_details_loader', true)"
      type="button"
      role="tab"
      id="order-tab"
      aria-controls="order-panel"
      aria-selected="false"
      tabindex="2"
    >
      <.icon_squares /> Orders
    </button>
  </nav>

  <%!-- Patient Panel --%>
  <div
    role="tabpanel"
    id="patient-panel"
    tabindex="-1"
    aria-selected="true"
    aria-labelledby="patient-tab"
  >
    <div class="card min-h-11">
      <header>
        <h2 class="flex justify-between items-center">
          Patient
          <button
            :if={!@patient.is_admitted}
            type="button"
            hx-get={"#{get_url()}/#{@patient.id}/edit"}
            hx-target="#main-contents"
            hx-swap="innerHTML"
            hx-indicator="#main-contents-indicator"
            type="button"
            class="btn-sm-outline"
          >
            <.icon_edit class="size-3" /> Update Patient
          </button>
        </h2>
      </header>
      <section>
        <.patient_details patient={@patient} age={@age} />
      </section>
    </div>
  </div>

  <%!-- Admission Panel --%>
  <div
    role="tabpanel"
    id="admission-panel"
    tabindex="-1"
    aria-selected="false"
    aria-labelledby="admission-tab"
    hidden
  >
    <div class="card min-h-11">
      <header class="flex justify-between items-center">
        <h2 class="flex gap-4 items-center">
          Admissions
          <button
            type="button"
            hx-get={"/patients/#{@patient.id}/admissions/list"}
            hx-target="#admissions_details_container"
            hx-indicator=".nonexistent"
            hx-on:htmx:after-request="handleIconLoader('admissions_details_loader', false)"
            hx-on:click="handleIconLoader('admissions_details_loader', true)"
            class="btn-sm-icon-outline"
          >
            <.icon_loader id="admissions_details_loader" />
          </button>
        </h2>
        <.search
          url={"/patients/admissions/search?patient_id=#{@patient.id}"}
          target="#admissions_details_container"
        />
      </header>
      <section>
        <div id="admissions_details_container"></div>
      </section>
    </div>
  </div>

  <%!-- Orders Panel --%>
  <div
    role="tabpanel"
    id="order-panel"
    tabindex="-1"
    aria-selected="false"
    aria-labelledby="order-tab"
    hidden
  >
    <div class="card min-h-11">
      <header class="flex justify-between items-center">
        <h2 class="flex items-center gap-4">
          Orders
          <button
            type="button"
            hx-get={"/patients/#{@patient.id}/orders/list"}
            hx-target="#orders_details_container"
            hx-indicator=".nonexistent"
            hx-on:htmx:after-request="handleIconLoader('orders_details_loader', false)"
            hx-on:click="handleIconLoader('orders_details_loader', true)"
            class="btn-sm-icon-outline"
          >
            <.icon_loader id="orders_details_loader" />
          </button>
        </h2>
      </header>
      <section>
        <div id="orders_details_container"></div>
      </section>
    </div>
  </div>
</div>
