<header>
    <h2>Update Osmolarity</h2>
</header>
    
    <.data_form 
      changeset={@changeset} 
      action={"#{get_url()}/#{@record.id}"} 
      flash={@flash} 
      edit={true} 
      is_admin={@is_admin} 
      units={@units}
      patient_types={@patient_types}
      vascular_accesses={@vascular_accesses}
      current_user={@current_user}
      />
  
    