<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Osmolarities", to: "#{get_url()}"},
  %{label: "New Osmolarity"}
]} />
<div class="mx-auto max-w-3xl">
  <.form_header>
    New Osmolarity
  </.form_header>
</div>
<div id="form_container" class="mx-auto max-w-3xl">
  <.data_form
    changeset={@changeset}
    action={"#{get_url()}"}
    flash={@flash}
    edit={false}
    is_admin={@is_admin}
    units={@units}
    patient_types={@patient_types}
    vascular_accesses={@vascular_accesses}
    current_user={@current_user}
  />
</div>
