<.simple_form :let={f} 
    for={@changeset} action={@action}
    hx-post={@action}
    hx-target="#table_modal_form_contents"
    hx-on::config-request="formConfigRequest(event)"
    autocomplete="off"
    >
    <section class="space-y-6">
        <.flash_group flash={@flash} />

        <.input field={f[:name]} type="text" label="Name" required />

        <footer class="flex justify-end space-x-3">
            <.form_modal_buttons />
        </footer>
    </section>
</.simple_form>