<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#main-contents"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <section class="space-y-6">
    <.flash_group flash={@flash} />

    <div class="grid grid-cols-2 gap-4 items-start">
      <.input field={f[:name]} type="text" label="Name" required />
      <.input
        field={f[:unit_type_id]}
        type="select"
        label="Unit Type"
        options={@unit_types}
        prompt="Select..."
        required
      />
      <.input field={f[:print_on_label]} type="checkbox" label="Print on Label" />
    </div>
    <footer class="flex justify-end space-x-3">
      <button id="form-button" type="submit" class="btn">
        Save <.btn_htmx_indicator />
      </button>
    </footer>
  </section>
</.simple_form>
