<header>
  <h2>New Ingredient</h2>
</header>
  
<.data_form 
    changeset={@changeset} 
    action={"#{get_url()}"} 
    flash={@flash} 
    edit={false} 
    is_admin={@is_admin} 
    unit_types={@unit_types}
    current_user={@current_user}
    />

  