<%= if(!Enum.empty?(@records)) do %>
  <.table id="wards" rows={@records} url={get_url()} meta={@meta}>
    <:col :let={record} label="Name" field={:name}>{record.name}</:col>
    <:col :let={record} label="Code" field={:code}>{record.code}</:col>
    <:col :let={record} label="Ward" field={:ward}>{record.ward}</:col>
    <:col :let={record} label="Room" field={:room}>{record.room}</:col>

    <:col :let={record} :if={@is_admin} label="L.H.N" field={:local_health_network}>
      {record.local_health_network}
    </:col>
    <:col
      :let={record}
      :if={netwrok_access(@is_admin, "facility", @current_user)}
      label="Facility"
      field={:facility}
    >
      {record.facility}
    </:col>
    <:col
      :let={record}
      :if={netwrok_access(@is_admin, "campus", @current_user)}
      label="Campus"
      field={:campus}
    >
      {record.campus}
    </:col>
    <:col :let={record} :if={@is_admin} label="Added By" field={:user_name}>
      {record.user_name}
    </:col>

    <:action :let={record} :if={@is_admin || @can.update || @can.delete}>
      <.table_actions_edit_delete
        record={record}
        url={get_url()}
        is_admin={@is_admin}
        can_update={@can.update}
        can_delete={@can.delete}
        edit_popup={false}
      />
    </:action>
  </.table>

  <%= if @meta.has_previous_page or @meta.has_next_page do %>
    <.pagination meta={@meta} url={get_url()} />
  <% end %>
<% else %>
  <.no_records />
<% end %>
