<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#table_modal_form_contents"
  hx-disabled-elt="#form-button"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <section class="space-y-6">
    <.flash_group flash={@flash} />

    <div class="grid grid-cols-2 gap-4">
      <.input
        :if={@is_admin}
        hx-get="/health_networks"
        hx-target="#bed_facility_id"
        hx-on:htmx-after-on-load="selectRemoveOptions('bed_campus_id'); triggerEvent(event.target.value, 'load_wards', 'lhn', 'bed')"
        field={f[:local_health_network_id]}
        type="simple-select"
        label="Local Health Network"
        prompt="Select..."
        options={@lhns}
      />

      <.input
        :if={netwrok_access(@is_admin, "facility", @current_user)}
        hx-get="/health_networks"
        hx-target="#bed_campus_id"
        hx-on:htmx-after-on-load="triggerEvent(event.target.value, 'load_wards', 'facility', 'bed')"
        field={f[:facility_id]}
        type="simple-select"
        label="Facility"
        prompt="Select..."
        options={@facilities}
      />

      <.input
        :if={netwrok_access(@is_admin, "campus", @current_user)}
        hx-on:change="triggerEvent(event.target.value, 'load_wards', 'campus', 'bed')"
        field={f[:campus_id]}
        type="simple-select"
        label="Campus"
        prompt="Select..."
        options={@campuses}
      />
    </div>

    <div class="grid grid-cols-2 gap-4 pt-6">
      <.input field={f[:name]} type="text" label="Name" required />
      <.input field={f[:code]} type="text" label="Code" required />
      <.input
        hx-get="/health_networks/wards"
        hx-vals="js:{id: event.detail.id, type: event.detail.type}"
        hx-trigger="load_wards from:body"
        hx-target="#bed_ward_id"
        hx-on:change="triggerEvent(event.target.value, 'load_rooms', 'room', 'bed')"
        hx-on:htmx-after-on-load="selectRemoveOptions('bed_room_id')"
        field={f[:ward_id]}
        type="simple-select"
        label="Ward"
        options={@wards}
        prompt="Select..."
        required
      />
      <.input
        hx-get="/health_networks/rooms"
        hx-vals="js:{ward_id: event.detail.id}"
        hx-trigger="load_rooms from:body"
        hx-target="#bed_room_id"
        field={f[:room_id]}
        type="simple-select"
        label="Room"
        options={@rooms}
        prompt="Select..."
        required
      />
    </div>

    <footer class="flex justify-end space-x-3">
      <.form_modal_buttons />
    </footer>
  </section>
</.simple_form>
