<header>
  New Bed
</header>

<.data_form
  changeset={@changeset}
  action={"#{get_url()}"}
  flash={@flash}
  edit={false}
  is_admin={@is_admin}
  wards={@wards}
  rooms={@rooms}
  lhns={@lhns}
  facilities={@facilities}
  campuses={@campuses}
  current_user={@current_user}
/>
