<%= if(!Enum.empty?(@records)) do %>
  <.table id="vascular_accesses" rows={@records} url={get_url()} meta={@meta}>
    <:col :let={record} label="Name" field={:name}>{record.name}</:col>

    <:col :let={record} :if={@is_admin} label="Added By" field={:user_name}>
      {record.user.first_name}
    </:col>

    <:action :let={record} :if={@is_admin || @can.update || @can.delete}>
      <.table_actions_edit_delete
        record={record}
        url={get_url()}
        is_admin={@is_admin}
        can_update={@can.update}
        can_delete={@can.delete}
        edit_popup={false}
      />
    </:action>
  </.table>

  <%= if @meta.has_previous_page or @meta.has_next_page do %>
    <.pagination meta={@meta} url={get_url()} />
  <% end %>
<% else %>
  <.no_records />
<% end %>
