<div id="form_container">
    <.header>
      Update Vascular Access
    </.header>
    
    <.data_form 
      changeset={@changeset} 
      action={"#{get_url()}/#{@record.id}"} 
      flash={@flash} 
      edit={true} 
      is_admin={@is_admin}
      current_user={@current_user}
      />
</div>
  
    