<%= if Enum.empty?(@records) do %>
  <div class="p-10 w-full h-full flex items-center justify-center">
    <.no_records />
  </div>
<% else %>
  <div id="admissions_table" class="divide-y divide-white/5">
    <%= for record <- @records do %>
      <div class="relative flex items-center space-x-12 p-4"></div>
    <% end %>
  </div>
<% end %>
