<div class="mt-10">
    <span id="orders_loader" class="loading loading-spinner loading-md htmx-indicator"></span>
    <h1 class="font-semibold">Orders</h1>
    <%= if Enum.empty?(@records) do %>
    <.no_records />
    <% else %>
    <.search
    url={"/patients/orders/search?patient_id=#{@patient_id}"}
    target="#orders_table"
    />
    <div id="orders_table" class="mt-5 divide-y divide-white/5">

    </div>
    <% end %>
</div>