<%= if is_nil(@template) do %>
  <div class="text-center">Select a template to view products</div>
<% else %>
  <script>
    const templateProducts = <%= raw @products %>;
    const preMixed = <%= @template.pre_mixed_standard %>;
    const additionalSubstances = <%= @template.additional_substances_allowed %>;
    const classesData = <%= raw @classes %>;
    const fillingMethodsData = <%= raw @filling_methods %>;
    const formulariesData = <%= raw @formularies %>;
    const currencyData = <%= raw @currency %>;
  </script>
  <div
    x-data="orderTemplateProducts"
    x-init="productsData = templateProducts; 
        preMixedStandard = preMixed; 
        additionalSubstancesAllowed = additionalSubstances; 
        classes = classesData;
        fillingMethods = fillingMethodsData;
        formularies = formulariesData;
        currency = currencyData;
        initialized();
    "
  >
    <div class="grid grid-cols-6 gap-4 my-6 px-4">
      <label class="form-control w-full max-w-xs grid gap-3" for="template_fluids">
        <div class="label">
          <span class="label-text">
            Total Fluids (<i><%= @template.fluid_unit %></i>) <span class="text-error">*</span>
          </span>
        </div>
        <input
          name="template_fluids"
          type="number"
          step=".0001"
          class="input input-sm input-bordered"
          value={format_decimal(@template.fluids)}
          readonly={@template.pre_mixed_standard}
        />
      </label>
      <%= if @template.pre_mixed_standard do %>
        <label class="form-control w-full max-w-xs grid gap-3" for="template_tpn_dose">
          <div class="label">
            <span class="label-text">TPN Dose (<i>ml</i>)</span>
          </div>
          <input
            name="template_tpn_dose"
            type="number"
            step=".0001"
            class="input input-sm input-bordered"
            value="0.0"
          />
        </label>
      <% end %>
      <%= if @template.pre_mixed_standard do %>
        <label class="form-control w-full max-w-xs grid gap-3" for="template_lipid_dose">
          <div class="label">
            <span class="label-text">Lipid Dose (<i>ml</i>)</span>
          </div>
          <input
            name="template_lipid_dose"
            type="number"
            step=".0001"
            class="input input-sm input-bordered"
            value="0.0"
          />
        </label>
      <% end %>
      <%= if @template.pre_mixed_standard do %>
        <label class="form-control w-full max-w-xs grid gap-3" for="template_tpn_rate">
          <div class="label">
            <span class="label-text">TPN Rate</span>
          </div>
          <input
            name="template_tpn_rate"
            type="number"
            step=".0001"
            class="input input-sm input-read-only"
            value="0.0"
            readonly
          />
        </label>
      <% end %>
      <%= if @template.pre_mixed_standard do %>
        <label class="form-control w-full max-w-xs grid gap-3" for="template_lipid_rate">
          <div class="label">
            <span class="label-text">Lipid Rate</span>
          </div>
          <input
            name="template_lipid_rate"
            type="number"
            step=".0001"
            class="input input-sm input-read-only"
            value="0.0"
            readonly
          />
        </label>
      <% end %>
      <label class="form-control w-full max-w-xs grid gap-3" for="template_gir">
        <div class="label">
          <span class="label-text">GIR</span>
        </div>
        <input
          name="template_gir"
          type="number"
          step=".0001"
          class="input input-sm input-read-only"
          value="0.0"
          readonly
        />
      </label>
      <label class="form-control w-full max-w-xs grid gap-3" for="template_amino_acid">
        <div class="label">
          <span class="label-text">Amino Acid %</span>
        </div>
        <input
          name="template_amino_acid"
          type="number"
          step=".0001"
          class="input input-sm input-read-only"
          value="0.0"
          readonly
        />
      </label>
      <label class="form-control w-full max-w-xs grid gap-3" for="template_dextrose">
        <div class="label">
          <span class="label-text">Dextrose %</span>
        </div>
        <input
          name="template_dextrose"
          type="number"
          step=".0001"
          class="input input-sm input-read-only"
          value="0.0"
          readonly
        />
      </label>
      <label class="form-control w-full max-w-xs grid gap-3" for="template_fat_infusion_rate">
        <div class="label">
          <span class="label-text">Fat Infusion Rate</span>
        </div>
        <input
          name="template_fat_infusion_rate"
          type="number"
          step=".0001"
          class="input input-sm input-read-only"
          value="0.0"
          readonly
        />
      </label>
      <label class="form-control w-full max-w-xs grid gap-3" for="template_osmolarity">
        <div class="label">
          <span class="label-text">Osmolarity</span>
        </div>
        <input
          name="template_osmolarity"
          type="number"
          step=".0001"
          class="input input-sm input-read-only"
          value="0.0"
          readonly
        />
      </label>
    </div>
    <div class="mt-10 mb-4 px-4 flex items-center gap-4">
      <h2 class="font-semibold">Substances</h2>
      <button
        :if={@template.additional_substances_allowed}
        type="button"
        class="btn-sm-outline btn-xs"
        @click="addProduct"
        x-bind:disabled="!productsToAdd.length"
      >
        Add More
      </button>
    </div>

    <div x-sort="handleSort">
      <template x-for="(product, index) in productsData">
        <div
          x-sort:item="product.id"
          class="flex p-5 space-x-5 pb-10 mt-5 border border-white/5 rounded-md"
        >
          <div x-sort:handle class="cursor-move group">
            <.icon_move class="flex-shrink size-4 text-muted-foreground group-hover:text-foreground" />
          </div>
          <div class="flex-grow flex flex-col gap-4">
            <div>
              <span class="badge" x-text="product.class_name"></span>
            </div>
            <div class="flex-grow grid grid-cols-5 gap-4">
              <label class="form-control w-full max-w-xs grid gap-3" for="template_dose">
                <div class="label">
                  <span class="label-text" x-text="`Dose (${product.dose_unit})`"></span>
                </div>
                <input
                  name="template_dose"
                  id="template_dose"
                  x-model="product.dose"
                  type="number"
                  step=".0001"
                  class="input input-sm input-bordered"
                />
              </label>
              <label class="form-control w-full max-w-xs grid gap-3" for="template_product">
                <div class="label flex items-center gap-2">
                  <span class="label-text">Product</span>
                  <span
                    x-show="product.formulary_id"
                    class="label-text-alt cursor-pointer"
                    @click="openFormularyInfo(product.id)"
                  >
                    <.icon_eye class="size-4 text-muted-foreground hover:text-foreground cursor-pointer" />
                  </span>
                </div>
                <select
                  name="template_product"
                  id="template_product"
                  class="select w-full"
                  @change="handleProductChange($event, product.id)"
                >
                  <option value="">Select Product</option>
                  <template x-for="formulary in getClassFormularies(product.class_id)">
                    <option
                      x-bind:value="formulary.id"
                      x-bind:selected="formulary.id === product.formulary_id"
                    >
                      <span x-text="`${formulary.name}`"></span>
                    </option>
                  </template>
                </select>
              </label>
              <label class="form-control w-full max-w-xs grid gap-3" for="template_filling_method">
                <div class="label">
                  <span class="label-text">Filling Method</span>
                </div>
                <select
                  name="template_filling_method"
                  id="template_filling_method"
                  class="select w-full"
                  x-model="product.filling_method_id"
                >
                  <option value="">Select Filling Method</option>
                  <template x-for="methods in fillingMethods">
                    <option
                      x-bind:value="methods.id"
                      x-bind:selected="methods.id === product.filling_method_id"
                    >
                      <span x-text="`${methods.name}`"></span>
                    </option>
                  </template>
                </select>
              </label>
              <label class="form-control w-full max-w-xs grid gap-3" for="template_volume">
                <div class="label">
                  <span class="label-text">Volume</span>
                </div>
                <input
                  name="template_volume"
                  id="template_volume"
                  x-model="product.volume"
                  type="number"
                  step=".0001"
                  class="input input-sm input-read-only"
                  readonly
                />
              </label>
              <label class="form-control w-full max-w-xs grid gap-3" for="template_fill_volume">
                <div class="label">
                  <span class="label-text">Fill Volume</span>
                </div>
                <input
                  name="template_fill_volume"
                  id="template_fill_volume"
                  x-model="product.fill_volume"
                  type="number"
                  step=".0001"
                  class="input input-sm input-read-only"
                  readonly
                />
              </label>
              <template x-if="product.additional_dose_allowed && preMixedStandard">
                <label
                  class="form-control w-full max-w-xs grid gap-3"
                  for="template_additional_dose"
                >
                  <div class="label">
                    <span class="label-text">
                      Additional Dose (<span x-text="product.additional_dose_unit"></span>)
                    </span>
                  </div>
                  <input
                    name="template_additional_dose"
                    id="template_additional_dose"
                    x-model="product.additional_dose"
                    type="number"
                    step=".0001"
                    class="input input-sm input-bordered"
                  />
                </label>
              </template>
              <template x-if="product.additional_dose_allowed && preMixedStandard">
                <label class="form-control w-full max-w-xs grid gap-3" for="template_max_allowed">
                  <div class="label">
                    <span class="label-text">
                      Max Allowed Limit (<span x-text="product.max_allowed_unit"></span>)
                    </span>
                  </div>
                  <input
                    name="template_max_allowed"
                    id="template_max_allowed"
                    x-model="product.max_allowed_limit"
                    type="number"
                    step=".0001"
                    class="input input-sm input-bordered"
                  />
                </label>
              </template>
            </div>
          </div>
          <div class="flex-shrink">
            <template x-if="!product.substance_locked_on_order">
              <button
                type="button"
                class="btn-sm-icon-outline btn-red"
                @click="removeProduct(product.id)"
              >
                <.icon_trash class="text-destructive" />
              </button>
            </template>
          </div>
        </div>
      </template>
    </div>
    <dialog
      id="formulary_info"
      class="dialog w-full sm:max-w-[425px] max-h-[612px]"
      onclick="if (event.target === this) this.close()"
    >
      <div>
        <header>
          <h2 id="demo-dialog-edit-profile-title" x-text="selectedFormulary?.name"></h2>
          <p id="demo-dialog-edit-profile-description" x-text="selectedFormulary?.code"></p>
        </header>

        <section class="flex flex-col gap-4 divide-y divide-border">
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">Drug ID</p>
            <p class="text-right" x-text="selectedFormulary?.drug_id"></p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">Label</p>
            <p class="text-right" x-text="selectedFormulary?.label_friendly_name"></p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">
              Cost per Container (<span x-text="currency.code"></span>)
            </p>
            <p class="text-right">
              <span x-text="currency.symbol === 'false'? '' : currency.symbol"></span>
              <span x-text="selectedFormulary?.cost_per_container || '--'"></span>
            </p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">Container Size</p>
            <p class="text-right" x-text="selectedFormulary?.container_size || '--'"></p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">Solution Type</p>
            <p class="text-right" x-text="selectedFormulary?.solution_type_name || '--'"></p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">UOM Unit</p>
            <p class="text-right" x-text="selectedFormulary?.uom_unit_name || '--'"></p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">
              Concentration (<span x-text="selectedFormulary?.concentration_unit_name"></span>)
            </p>
            <p class="text-right" x-text="selectedFormulary?.concentration"></p>
          </div>
          <div class="grid grid-cols-2 gap-2 pb-4">
            <p class="text-muted-foreground">
              Calories (<span x-text="selectedFormulary?.calories_unit_name"></span>)
            </p>
            <p class="text-right" x-text="selectedFormulary?.calories"></p>
          </div>
          <div class="flex gap-2 pb-4">
            <span
              class="badge"
              x-bind:class="{ 'success': selectedFormulary?.is_enteral, 'alert': !selectedFormulary?.is_enteral }"
            >
              Enteral
            </span>
            <span
              class="badge"
              x-bind:class="{ 'success': selectedFormulary?.print_on_label, 'alert': !selectedFormulary?.print_on_label }"
            >
              Print On Label
            </span>
            <span
              class="badge"
              x-bind:class="{ 'success': selectedFormulary?.include_in_overfill, 'alert': !selectedFormulary?.include_in_overfill }"
            >
              Include In Overfill
            </span>
            <span
              class="badge"
              x-bind:class="{ 'success': selectedFormulary?.universal_fluid, 'alert': !selectedFormulary?.universal_fluid }"
            >
              Universal Fluid
            </span>
          </div>
          <div>
            <h2 class="font-bold my-2">Ingredients</h2>
            <div class="flex flex-col divide-y divide-border">
              <template x-for="ingredient in selectedFormulary?.ingredients || []">
                <div class="grid grid-cols-2 gap-2 py-2">
                  <div class="flex items-center gap-2">
                    <span class="font-semibold text-muted-foreground" x-text="ingredient.name">
                    </span>
                    <span
                      class="badge"
                      x-bind:class="{ 'success': ingredient.print_on_label, 'alert': !ingredient.print_on_label }"
                    >
                      Print On Label
                    </span>
                  </div>
                  <div class="text-right">
                    <span x-text="ingredient.amount"></span>
                    <span x-text="ingredient.unit_name"></span>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </section>
        <button type="button" aria-label="Close dialog" onclick="this.closest('dialog').close()">
          <.icon_x_mark />
        </button>
      </div>
    </dialog>
  </div>
<% end %>
