<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm text-center">
    	<.icon name="hero-cube-transparent" class="h-24 w-20 text-indigo-600" />
		<h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-white">
			Sign in to your account
		</h2>
	</div>

  <%= @inner_content %>

</div>  