<div id="form_container">
    <.header>
      Update Campus
    </.header>
    
    <.data_form changeset={@changeset} action={"#{get_url()}/#{@record.id}"} flash={@flash} facilities={@facilities}  />
</div>
  
    