<%= if(!Enum.empty?(@records)) do %>
  <.table id="wards" rows={@records} url={get_url()} meta={@meta}>
    <:col :let={record} label="Name" field={:name}><%= record.name %></:col>
    <:col :let={record} label="Patient Type" field={:patient_type_id}>
      <%= record.patient_type_name %>
    </:col>
    <:col :let={record} label="Fluids" field={:fluids}><%= record.fluids %></:col>
    <:col :let={record} label="Active" field={:active}>
      <.empty_badge status={record.active} />
    </:col>

    <:col :let={record} :if={@is_admin} label="Added By" field={:user_name}>
      <%= record.user_name %>
    </:col>

    <:action :let={record} >
      <button
        hx-get={"#{get_url()}/#{record.id}"}
        hx-target="#main-contents"
        hx-indicator=".main-contents-loader"
        type="button"
        class="btn btn-xs"
      >
      View
      </button>
    </:action>

    <:action :let={record} :if={@is_admin || @can.update}>
      <button
        hx-get={"#{get_url()}/#{record.id}/edit"}
        hx-target="#table_modal_contents"
        hx-indicator="#table_modal_indicator"
        hx-on:click="table_modal.showModal()"
        type="button"
        class="btn btn-info btn-xs"
      >
        Edit
      </button>
    </:action>

    <:action :let={record} :if={@is_admin || @can.delete}>
      <.form
        for={%{}}
        method="delete"
        action={"#{get_url()}/#{record.id}"}
        hx-delete={"#{get_url()}/#{record.id}"}
        hx-confirm="Are you sure to delete?"
      >
        <button class="btn btn-error btn-xs">
          Delete
        </button>
      </.form>
    </:action>
  </.table>

  <%= if @meta.has_previous_page or @meta.has_next_page do %>
    <.pagination meta={@meta} url={get_url()} />
  <% end %>
<% else %>
  <.no_records />
<% end %>
