<%= if(!Enum.empty?(@records)) do %>
  <.table id="wards" rows={@records} url={get_url()} meta={@meta}>
    <:col :let={record} label="Name" field={:name}>{record.name}</:col>
    <:col :let={record} label="Patient Type" field={:patient_type_id}>
      {record.patient_type_name}
    </:col>
    <:col :let={record} label="Fluids" field={:fluids}>{format_decimal(record.fluids)}</:col>
    <:col :let={record} label="Active" field={:active}>
      <.empty_badge status={record.active} />
    </:col>

    <:col :let={record} :if={@is_admin} label="Added By" field={:user_name}>
      {record.user_name}
    </:col>

    <:action :let={record}>
      <div role="group" class="button-group">
        <button
          hx-get={"#{get_url()}/#{record.id}"}
          hx-target="#main-contents"
          hx-indicator="#main-contents-indicator"
          type="button"
          class="btn-outline"
        >
          View details
        </button>
        <.table_actions_edit_delete
          record={record}
          url={get_url()}
          is_admin={@is_admin}
          can_update={@can.update}
          can_delete={@can.delete}
          edit_popup={false}
        />
      </div>
    </:action>
  </.table>

  <%= if @meta.has_previous_page or @meta.has_next_page do %>
    <.pagination meta={@meta} url={get_url()} />
  <% end %>
<% else %>
  <.no_records />
<% end %>
