<header>
  <h2>Update Template</h2>
</header>

<.data_form
  changeset={@changeset}
  action={"#{get_url()}/#{@record.id}"}
  flash={@flash}
  edit={true}
  is_admin={@is_admin}
  units={@fluid_units}
  patient_types={@patient_types}
  current_user={@current_user}
/>
