<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Templates", to: "#{get_url()}"},
  %{label: "#{@record.name}"}
]} />
<div class="mx-auto max-w-5xl">
  <header class="flex items-center justify-between">
    <div>
      <h2 class="text-lg">Template Details</h2>
    </div>
  </header>

  <div class="flex w-fit divide-x divide-border border border-border rounded-lg bg-card mt-10">
    <div class="w-[350px] p-6">
      <header class="mb-6">
        <h2 class="flex items-center gap-2">
          <.icon_template class="size-4 text-muted-foreground" />
          {@record.name}
        </h2>
      </header>
      <section>
        <ul role="list" class="divide-y divide-border text-sm">
          <li class="pb-4">
            <div class="flex justify-between">
              <span class="text-muted-foreground">Patient Type:</span>
              <span>{@record.patient_type_name}</span>
            </div>
          </li>
          <li class="py-4">
            <div class="flex justify-between">
              <span class="text-muted-foreground">Bag Over Fill Volume:</span>
              <span>{@record.bag_over_fill_volume}</span>
            </div>
          </li>
          <li class="py-4">
            <div class="flex justify-between">
              <span class="text-muted-foreground">Lipid Overfill Volume:</span>
              <span>{@record.lipid_over_fill_volume}</span>
            </div>
          </li>
          <li class="pt-4">
            <div class="flex justify-between">
              <span class="text-muted-foreground">Fluids:</span>
              <span>{@record.fluids}/{@record.fluid_unit}</span>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="p-6 w-[350px]">
      <header class="mb-6">
        <h2 class="flex items-center gap-2">
          <.icon_settings_bar_h class="size-4 text-muted-foreground" /> Configurations
        </h2>
      </header>
      <section class="grid grid-cols-1 gap-4">
        <.status_badge
          state={@record.active}
          label={
            if(@record.active) do
              "Active"
            else
              "Inactive"
            end
          }
        />
        <.status_badge state={@record.pre_mixed_standard} label="Premixed Standard" />
        <.status_badge
          state={@record.additional_substances_allowed}
          label="Additional Substances Allowed"
        />
      </section>
    </div>
  </div>

  <.template_products
    :if={
      UserAccessLevel.has_menu_access_level?(@user_access_level, @is_admin, [
        "TemplateProducts"
      ])
    }
    template_id={@record.id}
  />
  <.table_form_modal
    id="template_table_modal_contents"
    form_id="template_table_form_modal_contents"
    loader_id="template_table_modal_loader"
  />
</div>
