<div class="mx-auto max-w-5xl">
  <header class="flex items-center justify-between">
    <div>
      <h2>Template Details</h2>
      <ol class="text-muted-foreground flex flex-wrap items-center gap-1.5 text-sm break-words sm:gap-2.5">
        <li class="inline-flex items-center gap-1.5">
          <a
            href=""
            hx-get={"#{get_url()}"}
            hx-target="#main-contents"
            hx-indicator="#main-contents-indicator"
            class="hover:text-foreground transition-colors"
          >
            Templates
          </a>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="size-3.5"
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
        </li>
        <li class="inline-flex items-center gap-1.5">
          <span class="text-foreground font-normal">{@record.name}</span>
        </li>
      </ol>
    </div>
  </header>

  <div class="flex gap-6 mt-14">
    <div class="card">
      <header>
        <h2 class="text-lg flex items-center gap-4">
          <.icon_template class="size-6 text-muted-foreground" />
          {@record.name}
        </h2>
      </header>
      <section>
        <dl class="grid grid-cols-2 gap-8">
          <dt>Patient Type:</dt>
          <dd>{@record.patient_type_name}</dd>
          <dt>Bag Over Fill Volume:</dt>
          <dd>{@record.bag_over_fill_volume}</dd>
          <dt>Lipid Overfill Volume:</dt>
          <dd>{@record.lipid_over_fill_volume}</dd>
          <dt>Fluids:</dt>
          <dd>{@record.fluids}/{@record.fluid_unit}</dd>
        </dl>
      </section>
    </div>
    <div class="card w-[395px]">
      <header>
        <h2 class="text-lg flex items-center gap-4">
          <.icon_settings_bar_h class="size-6 text-muted-foreground" /> Configurations
        </h2>
      </header>
      <section class="grid grid-cols-1 gap-4">
        <.status_badge
          state={@record.active}
          label={
            if(@record.active) do
              "Active"
            else
              "Inactive"
            end
          }
        />
        <.simple_badge state={@record.pre_mixed_standard} label="Premixed Standard" />
        <.simple_badge
          state={@record.additional_substances_allowed}
          label="Additional Substances Allowed"
        />
      </section>
    </div>
  </div>

  <.template_products
    :if={
      UserAccessLevel.has_menu_access_level?(@user_access_level, @is_admin, [
        "TemplateProducts"
      ])
    }
    template_id={@record.id}
  />
  <.table_form_modal
    id="template_table_modal_contents"
    form_id="template_table_form_modal_contents"
    loader_id="template_table_modal_loader"
  />
</div>
