<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Settings"}
]} />
<div class="mx-auto max-w-5xl">
  <h2>Settings</h2>

  <.simple_form
    :let={_}
    for={}
    action="/settings"
    hx-post="/settings"
    hx-disabled-elt="#form-button"
    hx-on::config-request="formConfigRequest(event)"
    autocomplete="off"
  >
    <.currencies currencies={@currencies} selected={get_selected_record("currency", @records)} />

    <section class="w-full rounded-lg border scroll-mt-16">
      <header class="border-b px-4 py-3 font-semibold bg-card text-card-foreground">
        Formulary
      </header>
      <div class="p-4 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        <.setting_select
          id="formulary_concentration_unit_type_id"
          label="Concentration Unit Type"
          name="formulary_concentration_unit_type"
          value={get_selected_record("formulary_concentration_unit_type", @records)}
          options={@unit_types}
        />
        <.setting_select
          id="formulary_calories_unit_type_id"
          label="Calories Unit Type"
          name="formulary_calories_unit_type"
          value={get_selected_record("formulary_calories_unit_type", @records)}
          options={@unit_types}
        />
        <.setting_select
          id="formulary_uom_unit_type_id"
          label="UOM Unit Type"
          name="formulary_uom_unit_type"
          value={get_selected_record("formulary_uom_unit_type", @records)}
          options={@unit_types}
        />
        <.setting_select
          id="formulary_ingredients_unit_type_id"
          label="Ingredients Unit Type"
          name="formulary_ingredients_unit_type"
          value={get_selected_record("formulary_ingredients_unit_type", @records)}
          options={@unit_types}
        />
      </div>
    </section>

    <section class="w-full rounded-lg border scroll-mt-16">
      <header class="border-b px-4 py-3 font-semibold bg-card text-card-foreground">
        Template
      </header>
      <div class="p-4 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        <.setting_select
          id="template_fluid_unit_type_id"
          label="Fluid Unit Type"
          name="template_fluid_unit_type"
          value={get_selected_record("template_fluid_unit_type", @records)}
          options={@unit_types}
        />
        <.setting_select
          id="template_dosing_unit_type_id"
          label="Dosing Unit Type"
          name="template_dosing_unit_type"
          value={get_selected_record("template_dosing_unit_type", @records)}
          options={@unit_types}
        />
      </div>
    </section>

    <section class="w-full rounded-lg border scroll-mt-16">
      <header class="border-b px-4 py-3 font-semibold bg-card text-card-foreground">
        Patient
      </header>
      <div class="p-4 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        <.setting_select
          id="patient_weight_unit_type_id"
          label="Weight Unit Type"
          name="patient_weight_unit_type"
          value={get_selected_record("patient_weight_unit_type", @records)}
          options={@unit_types}
        />
        <.setting_select
          id="patient_height_unit_type_id"
          label="Height Unit Type"
          name="patient_height_unit_type"
          value={get_selected_record("patient_height_unit_type", @records)}
          options={@unit_types}
        />
      </div>
    </section>

    <div class="mx-auto max-w-5xl">
      <button id="form-button" type="submit" class="btn-sm btn-brand">
        Save <span class="loading loading-spinner loading-md htmx-indicator"></span>
      </button>
    </div>
  </.simple_form>
</div>
