<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#main-contents"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <section class="space-y-6">
    <.flash_group flash={@flash} />

    <.input field={f[:name]} type="text" label="Name" required />

    <footer class="flex justify-end space-x-3">
      <button id="form-button" type="submit" class="btn">
        Save <.btn_htmx_indicator />
      </button>
    </footer>
  </section>
</.simple_form>
