<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#form_container"
  hx-disabled-elt="#form-button"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <.flash_group flash={@flash} />
  <input type="hidden" name="admission[admission_no]" value={@admission_no} />
  <input type="hidden" name="admission[age]" value={@age} />
  <input type="hidden" name="admission[patient_id]" value={@patient_id} />
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col space-y-1">
      <span>Admission No.</span>
      <span class="font-semibold"><%= @admission_no %></span>
    </div>
    <div class="flex flex-col space-y-1">
      <span>Age</span>
      <span class="font-semibold"><%= @age %></span>
    </div>
    <%= if !is_nil(@mrn) do %>
      <div class="flex flex-col space-y-1">
        <span>M.R.N</span>
        <span class="font-semibold"><%= @mrn %></span>
      </div>
    <% else %>
      <div class="flex flex-col space-y-1">
        <span>M.R.N<span class="text-error">*</span></span>
        <input
          class="input input-bordered w-full h-10"
          type="text"
          value=""
          name="admission[mrn]"
          id="admission_mrn"
        />
      </div>
    <% end %>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <.input
      :if={@is_admin}
      hx-get="/health_networks"
      hx-target="#admission_facility_id"
      hx-on:htmx-after-on-load="selectRemoveOptions('admission_campus_id'); triggerEvent(event.target.value, 'load_wards', 'lhn', 'bed')"
      field={f[:local_health_network_id]}
      type="select"
      label="Local Health Network"
      prompt="Select..."
      options={@lhns}
    />

    <.input
      :if={netwrok_access(@is_admin, "facility", @current_user)}
      hx-get="/health_networks"
      hx-target="#admission_campus_id"
      hx-on:htmx-after-on-load="triggerEvent(event.target.value, 'load_wards', 'facility', 'bed')"
      field={f[:facility_id]}
      type="select"
      label="Facility"
      prompt="Select..."
      options={@facilities}
    />

    <.input
      :if={netwrok_access(@is_admin, "campus", @current_user)}
      hx-on:change="triggerEvent(event.target.value, 'load_wards', 'campus', 'bed')"
      field={f[:campus_id]}
      type="select"
      label="Campus"
      prompt="Select..."
      options={@campuses}
    />

    <.input
      hx-get="/health_networks/wards"
      hx-vals="js:{id: event.detail.id, type: event.detail.type}"
      hx-trigger="load_wards from:body"
      hx-target="#admission_ward_id"
      hx-on:change="triggerEvent(event.target.value, 'load_rooms', 'room', 'bed')"
      hx-on:htmx-after-on-load="selectRemoveOptions(['admission_room_id', 'admission_bed_id'])"
      field={f[:ward_id]}
      type="select"
      label="Ward"
      prompt="Select..."
      options={@wards}
      required
    />

    <.input
      hx-get="/health_networks/rooms"
      hx-vals="js:{ward_id: event.detail.id}"
      hx-trigger="load_rooms from:body"
      hx-target="#admission_room_id"
      hx-on:change="triggerEvent(event.target.value, 'load_beds', 'room', 'bed')"
      hx-on:htmx-after-on-load="selectRemoveOptions(['admission_room_id', 'admission_bed_id'])"
      field={f[:room_id]}
      type="select"
      label="Room"
      prompt="Select..."
      options={@rooms}
      required
    />

    <.input
      hx-get="/health_networks/beds"
      hx-vals="js:{room_id: event.detail.id}"
      hx-trigger="load_beds from:body"
      hx-target="#admission_bed_id"
      hx-on:htmx-after-on-load="selectRemoveOptions('admission_bed_id')"
      field={f[:bed_id]}
      type="select"
      label="Bed"
      prompt="Select..."
      options={@beds}
      required
    />

    <.input
      field={f[:patient_weight]}
      field_2={f[:weight_unit_id]}
      type="input-with-select"
      label="Weight"
      options={@weight_units}
      options_label="Unit..."
      placeholder="0.00"
      input_type="number"
      step=".01"
      required
    />

    <.input
      field={f[:patient_height]}
      field_2={f[:height_unit_id]}
      type="input-with-select"
      label="Height"
      options={@height_units}
      options_label="Unit..."
      placeholder="0.00"
      input_type="number"
      step=".01"
      required
    />

    <.input
      field={f[:patient_type_id]}
      type="select"
      label="Patient Type"
      prompt="Select..."
      options={@patient_types}
      required
    />
  </div>

  <div class="grid grid-cols-1">
    <.input field={f[:notes]} type="textarea" label="Notes" />
  </div>

  <:actions>
    <button id="form-button" type="submit" class="w-full btn btn-primary flex space-x-3">
      <%= if(@edit) do %>
        Update
      <% else %>
        Create
      <% end %>
      <span class="loading loading-spinner loading-md htmx-indicator"></span>
    </button>
  </:actions>
</.simple_form>
