<div class="mt-10">
  <span id="admissions_loader" class="loading loading-spinner loading-md htmx-indicator"></span>
  <h1 class="font-semibold">Admissions</h1>
  <%= if Enum.empty?(@admissions) do %>
  <.no_records />
  <% else %>
  <.search
  url={"/patients/admissions/search?patient_id=#{@patient_id}"}
  target="#admissions_table"
  />
  <div id="admissions_table" class="mt-5 divide-y divide-white/5">
    <.admission_records admissions={@admissions} />
  </div>
  <% end %>
</div>