<%= if Enum.empty?(@admissions) do %>
  <div class="p-10 w-full h-full flex items-center justify-center">
    <.no_records />
  </div>
<% else %>
  <div id="admissions_table" class="divide-y divide-border">
    <%= for admission <- @admissions do %>
      <div class="relative flex items-center space-x-12 py-4">
        <span class="text-sm">
          <span class="text-muted-foreground">Admission No:</span> {admission.admission_no}
        </span>
        <div role="group" class="button-group">
          <div id={"admission-details-popover-#{admission.id}"} class="popover">
            <button
              id="admission-details-popover-trigger-#{admission.id}"
              type="button"
              aria-expanded="false"
              aria-controls="admission-details-popover-popover-#{admission.id}"
              class="btn-sm-outline"
            >
              Details
            </button>
            <div
              id="admission-details-popover-popover-#{admission.id}"
              data-popover
              aria-hidden="true"
              class="w-80"
            >
              <header class="pb-1 text-sm font-medium border-b">
                Admission Details
              </header>
              <section class="text-sm divide-y divide-border">
                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">MRN:</span> <span>{admission.mrn}</span>
                </div>

                <div :if={admission.discharged} class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Discharge Date:</span>
                  <span>{format_date(admission.discharged_at)}</span>
                </div>

                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Admission Date:</span>
                  <span>{format_date(admission.inserted_at)}</span>
                </div>

                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Age:</span> <span>{admission.age}</span>
                </div>

                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Patient Type:</span>
                  <span>{admission.patient_type}</span>
                </div>

                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Weight:</span>
                  <span>{admission.patient_weight}{admission.weight_unit}</span>
                </div>

                <div class="flex justify-between gap-2 pt-3">
                  <span class="text-muted-foreground">Height:</span>
                  <span>{admission.patient_height}{admission.height_unit}</span>
                </div>
              </section>
            </div>
          </div>

          <div id={"admission-network-popover-#{admission.id}"} class="popover">
            <button
              id="admission-network-popover-trigger-#{admission.id}"
              type="button"
              aria-expanded="false"
              aria-controls="admission-network-popover-popover-#{admission.id}"
              class="btn-sm-outline"
            >
              Location
            </button>
            <div
              id="admission-network-popover-popover-#{admission.id}"
              data-popover
              aria-hidden="true"
              class="w-80"
            >
              <header class="pb-1 text-sm font-medium border-b">
                Location Details
              </header>
              <section class="text-sm divide-y divide-border">
                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">LHN:</span>
                  <span>{admission.local_health_network}</span>
                </div>
                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Facility:</span>
                  <span>{admission.facility}</span>
                </div>
                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Campus:</span>
                  <span>{admission.campus}</span>
                </div>
                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Ward:</span> <span>{admission.ward}</span>
                </div>
                <div class="flex justify-between gap-2 py-3">
                  <span class="text-muted-foreground">Room:</span> <span>{admission.room}</span>
                </div>
                <div class="flex justify-between gap-2 pt-3">
                  <span class="text-muted-foreground">Bed:</span> <span>{admission.bed}</span>
                </div>
              </section>
            </div>
          </div>

          <div id={"admission-network-popover-#{admission.id}"} class="popover">
            <button
              id="admission-network-popover-trigger-#{admission.id}"
              type="button"
              aria-expanded="false"
              aria-controls="admission-network-popover-popover-#{admission.id}"
              class="btn-sm-outline text-xxs h-xxs"
            >
              Notes
            </button>
            <div
              id="admission-network-popover-popover-#{admission.id}"
              data-popover
              aria-hidden="true"
              class="w-80"
            >
              <header class="pb-1 text-sm font-medium border-b">Admission Notes</header>
              <section class="pt-3">
                {raw(format_lines(admission.notes))}
              </section>
            </div>
          </div>

          <button
            type="button"
            hx-get={"/patients/admissions/#{admission.id}/orders/list"}
            hx-target="#slidingPanel-content"
            hx-swap="innerHTML"
            hx-indicator="#slidingPanel-loader"
            onclick="openSlidingPanel()"
            class="btn-sm-outline"
          >
            Admission orders
          </button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
