<div id="form_container">
  <.header>
    New Admission
  </.header>

  <.data_form
    changeset={@changeset}
    action={"#{get_url()}"}
    flash={@flash}
    edit={false}
    is_admin={@is_admin}
    lhns={@lhns}
    facilities={@facilities}
    campuses={@campuses}
    current_user={@current_user}
    patient_id={@patient_id}
    admission_no={@admission_no}
    age={@age}
    mrn={@mrn}
    wards={@wards}
    rooms={@rooms}
    beds={@beds}
    patient_types={@patient_types}
    weight_units={@weight_units}
    height_units={@height_units}
  />
</div>
