<div class="mx-auto max-w-7xl">
  <.header>
    Patient Admission
  </.header>

  <div class="flex items-center justify-between">
    <div class="breadcrumbs text-sm">
      <ul>
        <li>
          <a hx-get="/patients" hx-target="#main-contents" hx-indicator=".main-contents-loader">
            Patients
          </a>
        </li>
        <li>
          <a
            hx-get={"/patients/#{@patient.id}"}
            hx-target="#main-contents"
            hx-indicator=".main-contents-loader"
          >
            {@patient.first_name} {@patient.last_name}
          </a>
        </li>
        <li>Admission</li>
      </ul>
    </div>
  </div>

  <.patient patient={@patient} age={@age} can_be_discharged={@can_be_discharged} />

  <.admission admission={@admission} />
</div>

<.form_modal classes="max-w-3xl" />
