<%= if(!Enum.empty?(@records)) do %>
    <.table id="lhn" rows={@records} url={get_url()} meta={@meta}>
        <:col :let={record} label="Name" field={:name}><%= record.name %></:col>            
        <:col :let={record} label="Code" field={:code}><%= record.code %></:col>            

        <:action :let={record}>
            <button
            hx-get={"#{get_url()}/#{record.id}/edit"}
            hx-target="#table_modal_contents"
            hx-indicator="#table_modal_indicator"
            hx-on:click="table_modal.showModal()"
            type="button"
            class="btn btn-info btn-xs"
            >
            Edit
            </button>
        </:action>

        <:action :let={record}>
            <.form
            for={%{}}
            method="delete"
            action={"#{get_url()}/#{record.id}"}
            hx-delete={"#{get_url()}/#{record.id}"}
            hx-confirm="Are you sure to delete?"
            >
            <button class="btn btn-error btn-xs">
                Delete
            </button>
            </.form>
        </:action>
    </.table>

    <%= if @meta.has_previous_page or @meta.has_next_page do %>
        <.pagination meta={@meta} url={get_url()} />
    <% end %>

<% else %>
    <.no_records />
<% end %>