<div id="form_container" class="mx-auto max-w-7xl">
  <.header>
    Update Formulary
    <:actions>
      <button
        hx-get={"#{get_url()}/new"}
        hx-target="#main-contents"
        hx-indicator=".main-contents-loader"
        type="button"
        class="btn btn-sm btn-primary"
      >
        Create New
      </button>
    </:actions>
  </.header>
  <div class="flex items-center justify-between">
    <div class="breadcrumbs text-sm">
      <ul>
        <li>
          <a
            hx-get={"#{get_url()}"}
            hx-target="#main-contents"
            hx-indicator=".main-contents-loader"
          >
            Formularies
          </a>
        </li>
        <li><%= @record.name %></li>
      </ul>
    </div>
  </div>

  <.data_form
    changeset={@changeset}
    action={"#{get_url()}/#{@record.id}"}
    flash={@flash}
    edit={true}
    is_admin={@is_admin}
    current_user={@current_user}
    currency={@currency}
    calories_units={@calories_units}
    concentration_units={@concentration_units}
    ingredients_units={@ingredients_units}
    uom_units={@uom_units}
    classes={@classes}
    patient_types={@patient_types}
    solution_types={@solution_types}
    selected_patient_types={@selected_patient_types}
    ingredients={@ingredients}
    selected_ingredients={@selected_ingredients}
  />
</div>
