<.bread_crumb items={[
  %{label: "Home", to: "/dash"},
  %{label: "Formulary", to: "#{get_url()}"},
  %{label: "Update Formulary"}
]} />
<div class="mx-auto max-w-5xl">
  <.form_header>
    Update Formulary
    <:actions>
      <button
        type="button"
        hx-get={"#{get_url()}/new"}
        hx-target="#main-contents"
        hx-swap="innerHTML"
        hx-indicator="#main-contents-indicator"
        type="button"
        class="btn-sm-outline"
      >
        <.icon_plus /> Create new formulary
      </button>
    </:actions>
  </.form_header>
</div>
<div id="form-contents" class="mx-auto max-w-5xl">
  <.data_form
    changeset={@changeset}
    action={"#{get_url()}/#{@record.id}"}
    flash={@flash}
    edit={true}
    is_admin={@is_admin}
    current_user={@current_user}
    currency={@currency}
    calories_units={@calories_units}
    concentration_units={@concentration_units}
    ingredients_units={@ingredients_units}
    uom_units={@uom_units}
    classes={@classes}
    patient_types={@patient_types}
    solution_types={@solution_types}
    selected_patient_types={@selected_patient_types}
    ingredients={@ingredients}
    selected_ingredients={@selected_ingredients}
  />
</div>
