<div id="form_container" class="mx-auto max-w-7xl">
  <.header>
    New Formulary
  </.header>

  <.data_form
    changeset={@changeset}
    action={"#{get_url()}"}
    flash={@flash}
    edit={false}
    is_admin={@is_admin}
    current_user={@current_user}
    currency={@currency}
    calories_units={@calories_units}
    concentration_units={@concentration_units}
    ingredients_units={@ingredients_units}
    uom_units={@uom_units}
    classes={@classes}
    patient_types={@patient_types}
    solution_types={@solution_types}
    selected_patient_types={@selected_patient_types}
    ingredients={@ingredients}
    selected_ingredients={@selected_ingredients}
  />
</div>
