@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
/* add font Inter to html, body */

@import url("../vendor/js-snackbar.min.css");
@import url("../vendor/flatpickr-dark.css");

html,
body {
    font-family: "Ubuntu", sans-serif;
}

[x-cloak] {
    display: none !important;
}

.htmx-indicator {
    display: none;
}
.htmx-request.htmx-indicator {
    display: inline;
}

.block.htmx-request.htmx-indicator {
    display: block;
}

/* apply display none to next element of htmx-indicator */
.htmx-request + .hide-on-htmx-request {
    display: none;
}

.desktop-menu-group li.selected {
    @apply bg-base-300;
}

.table-container {
    @apply overflow-x-auto bg-neutral rounded-md;
}

.modal:not(dialog:not(.modal-open)),
.modal::backdrop {
    background-color: #0009;
}

.menu-item {
    @apply flex flex-row items-center p-2 text-sm leading-6 hover:bg-base-300 rounded cursor-pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.parent-menu {
    @apply hover:bg-transparent;
}

.sub-menu-item {
    @apply hover:bg-base-300 rounded;
}

.sub-menu-item.selected {
    @apply bg-base-300;
}

.checkox-checked-indicator {
    @apply ring-1 ring-inset ring-gray-400/20 bg-gray-400/10;
}

.btn-no-styles {
    @apply p-0 m-0 bg-transparent border-none focus:outline-none;
}

.input-read-only {
    @apply focus:outline-none focus:border-none cursor-not-allowed;
    @apply bg-gray-300/10 dark:bg-gray-700/10;
}

