@import "tailwindcss";
@import "basecoat-css";
@import "./theme.css";
/* This file is for your main application CSS */
/* add font Inter to html, body */

@import url("../vendor/js-snackbar.min.css");
@import url("../vendor/flatpickr-dark.css");

@source "../css";
@source "../js";
@source "../../lib/tpn_web";

html,
body {
    font-family: "Ubuntu", sans-serif;
}

[x-cloak] {
    display: none !important;
}

.htmx-indicator {
    display: none;
}
.htmx-request.htmx-indicator {
    display: inline;
}

.block.htmx-request.htmx-indicator {
    display: block;
}

/* apply display none to next element of htmx-indicator */
.htmx-request + .hide-on-htmx-request {
    display: none;
}

.h-xs {
    @apply h-[28px];
}
.btn-brand {
    @apply bg-brand/70 hover:bg-brand text-brand-foreground border border-brand-default/20 hover:border-brand-default/80;
}

.input:focus-visible {
    @apply border-white/20 ring-2 ring-offset-0 shadow-none;
}

.btn-primary-border {
    border: 1px solid hsl(var(--color-primary-default)/0.3);
}

.card .input {
    background-color: hsl(var(--color-secondary));
}

.dialog > .article {
    @apply bg-dialog-background text-foreground;
}