:root {
    --brand: hsl(154.9deg 100% 19%);
    --brand-foreground: hsl(152.7273 19.2982% 88.8235%);
    --brand-default: hsl(153.1deg 60.2% 52.7%);
    --brand-600: hsl(154.9deg 59.5% 70%);
    --brand-500: hsl(154.9deg 100% 19.2%);
    --brand-400: hsl(155.5deg 100% 9.6%);
    --brand-300: hsl(155.1deg 100% 8%);
    --brand-200: hsl(162deg 100% 2%);
    --destructive: hsl(358.7594 101.8439% 69.8357%);
    --destructive-default: hsl(10.2deg 77.9% 53.9%);
    --destructive-foreground: hsl(223.8136 0.0004% 98.0256%);
    --destructive-600: hsl(9.7deg 85.2% 62.9%);
    --destructive-500: hsl(7.9deg 71.6% 29%);
    --destructive-400: hsl(6.7deg 60% 20.6%);
    --destructive-300: hsl(7.5deg 51.3% 15.3%);
    --destructive-200: hsl(10.9deg 23.4% 9.2%);
    --background: hsl(0deg 0% 9%);
    --background-dash: hsl(0deg 0% 7.1%);
    --background-muted: hsl(0deg 0% 14.1%);
    --background-surface-400: hsl(0deg 0% 16.1%);
    --background-surface-300: hsl(0deg 0% 16.1%);
    --background-surface-200: hsl(0deg 0% 12.9%);
    --background-surface-100: hsl(0deg 0% 12.2%);
    --background-surface-75: hsl(0deg 0% 9%);
    /*--dialog-background: oklch(0.145 0 0);*/
    --dialog-background: hsl(0deg 0% 6.6%);
    --foreground: hsl(223.8136 0.0004% 98.0256%);
    --foreground-light: hsl(0deg 0% 70.6%);
    --card: hsl(0deg 0% 12.2%);
    --card-foreground: hsl(223.8136 0.0004% 98.0256%);
    --popover: hsl(223.8136 0% 14.9382%);
    --popover-foreground: hsl(223.8136 0.0004% 98.0256%);
    --primary: hsl(223.8136 0.0001% 89.8161%);
    --primary-foreground: hsl(223.8136 0% 9.0527%);
    --secondary: hsl(223.8136 0% 14.9382%);
    --secondary-foreground: hsl(223.8136 0.0004% 98.0256%);
    --muted: hsl(223.8136 0% 14.9382%);
    --muted-foreground: hsl(223.8136 0% 63.0163%);
    --accent: hsl(223.8136 0% 25.0471%);
    --accent-foreground: hsl(223.8136 0.0004% 98.0256%);
    --warning: hsl(38.9deg 100% 42.9%);

    --border: hsl(223.8136 0% 15.5096%);
    --input: hsl(223.8136 0% 20.3885%);
    --ring: hsl(0 0% 14.1%);
    --ring-border: hsl(0 0% 15%);
    --chart-1: hsl(211.788 101.9718% 78.6759%);
    --chart-2: hsl(217.4076 91.3672% 59.5787%);
    --chart-3: hsl(221.4336 86.3731% 54.0624%);
    --chart-4: hsl(223.6587 78.718% 47.8635%);
    --chart-5: hsl(226.5426 70.0108% 39.9224%);
    --sidebar: hsl(223.8136 0% 9.0527%);
    --sidebar-foreground: hsl(223.8136 0.0004% 98.0256%);
    --sidebar-primary: hsl(225.3451 84.0953% 48.9841%);
    --sidebar-primary-foreground: hsl(223.8136 0.0004% 98.0256%);
    --sidebar-accent: hsl(223.8136 0% 14.9382%);
    --sidebar-accent-foreground: hsl(223.8136 0.0004% 98.0256%);
    --sidebar-border: hsl(223.8136 0% 15.5096%);
    --sidebar-ring: hsl(223.8136 0% 32.1993%);
    --scrollbar-thumb: hsl(223.8136 0% 32.1993%);
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --radius: 8px;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-brand: var(--brand);
    --color-brand-200: var(--brand-200);
    --color-brand-300: var(--brand-300);
    --color-brand-400: var(--brand-400);
    --color-brand-500: var(--brand-500);
    --color-brand-600: var(--brand-600);
    --color-brand-foreground: var(--brand-foreground);
    --color-brand-default: var(--brand-default);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive-default: var(--destructive-default);
    --color-destructive-200: var(--destructive-200);
    --color-destructive-300: var(--destructive-300);
    --color-destructive-400: var(--destructive-400);
    --color-destructive-500: var(--destructive-500);
    --color-destructive-600: var(--destructive-600);
    --color-background-surface-400: var(--background-surface-400);
    --color-background-surface-300: var(--background-surface-300);
    --color-background-surface-200: var(--background-surface-200);
    --color-background-surface-100: var(--background-surface-100);
    --color-background-surface-75: var(--background-surface-75);
    --color-background: var(--background);
    --color-background-dash: var(--background-dash);
    --color-dialog-background: var(--dialog-background);
    --color-foreground: var(--foreground);
    --color-foreground-light: var(--foreground-light);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-warning: var(--warning);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-ring-border: var(--ring-border);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}
