<.simple_form
  :let={f}
  for={@changeset}
  action="/hospital/orders"
  method="post"
  hx-disabled-elt="#form-button"
  hx-target="#main-contents"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
  no_styles={true}
>
  <section class="space-y-6">
    <input type="hidden" name="patient_id" value={@patient_id} />
    <input type="hidden" name="admission_id" value={@admission.id} />
    <input type="hidden" name="order_type" value="PatientSpecific" />

    <div x-data="orderForm" class="grid grid-cols-4 gap-4">
      <.input
        field={f[:vascular_access_id]}
        type="simple-select"
        prompt="Select..."
        label="Vascular Access"
        options={@vascular_accesses}
        required
      />
      <.input
        field={f[:formulary_id]}
        type="simple-select"
        prompt="Select..."
        label="Enteral Product"
        options={@formularies}
        required
      />
      <.input
        field={f[:enteral_dose]}
        type="number"
        label="Enteral Dose (mL)"
        step="0.1"
        required
      />
      <.input
        field={f[:infusion_duration_type]}
        type="simple-select"
        prompt="Select..."
        label="Infusion Duration Type"
        options={@infusion_duration_type}
        required
      />
      <.input
        field={f[:lipid_infusion_duration_hours]}
        type="number"
        label="Lipid Infusion Duration (hours)"
        step="0.1"
        required
      />
      <.input
        field={f[:tpn_infusion_type]}
        type="simple-select"
        prompt="Select..."
        label="TPN Infusion Type"
        options={@tpn_infusion_types}
        required
        x-on:change="showTpnInfusionDuration = $event.target.value === '2_in_1'"
      />
      <template x-if="showTpnInfusionDuration">
        <.input
          field={f[:tpn_infusion_duration_hours]}
          type="number"
          label="TPN Infusion Duration (hours)"
          step="1"
          required
        />
      </template>
      <.input
        field={f[:dosing_weight]}
        type="number"
        label={"Dosing Weight (#{@admission.weight_unit})"}
        step=".0001"
        required
        value={format_decimal(@admission.patient_weight)}
      />
      <.input
        hx-get="/order/template_products"
        hx-trigger="change"
        hx-target="#template_products_content"
        hx-indicator="#template_products_loader"
        field={f[:template_id]}
        type="simple-select"
        prompt="Select..."
        label="Template"
        options={@templates}
        required
      />
    </div>
  </section>

  <section class="w-full rounded-lg overflow-hidden border mt-8">
    <header class="border-b px-4 py-3 font-semibold bg-card">
      Template Products
    </header>
    <div id="template_products_loader" class="htmx-indicator">
      <.icon_simple_spinner class="mx-auto my-12 text-foreground size-6" />
    </div>
    <div id="template_products_content" class="hide-on-htmx-request">
      <div class="text-center my-10 text-sm text-muted-foreground">
        Select a template to view products
      </div>
    </div>
  </section>

  <footer class="flex justify-end items-center space-x-3 mt-16">
    <button type="button" class="btn btn-blue">
      <.icon_save /> Save as Draft
    </button>
    <button id="form-button" type="submit" class="btn btn-green">
      <.icon_pakage_plus /> Create Order
    </button>
  </footer>
</.simple_form>
