<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#form_container"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <.flash_group flash={@flash} />

  <div class="grid grid-cols-2 gap-4">
    <input
      type="hidden"
      id="template_product_template_id"
      name="template_product[template_id]"
      value={@template_id}
    />

    <.input
      hx-on:change="triggerEvent('', 'load_template_formularies')"
      field={f[:class_id]}
      type="select"
      label="Substance"
      options={@substances}
      prompt="Select..."
      required
    />
    <.input
      hx-get="/template_products/formularies"
      hx-vals="js:{template_id: event.detail.template_id, class_id: event.detail.class_id}"
      hx-trigger="load_template_formularies from:body"
      hx-target="#template_product_formulary_id"
      hx-on:htmx-after-on-load="selectRemoveOptions('template_product_formulary_id')"
      field={f[:formulary_id]}
      type="select"
      options={@formularies}
      prompt="Select..."
      label="Default Product"
    />
    <.input
      field={f[:filling_method_id]}
      type="select"
      label="Filling Method"
      options={@filling_methods}
      prompt="Select..."
    />
    <.input
      field={f[:dose]}
      field_2={f[:dose_unit_id]}
      type="input-with-select"
      label="Dose"
      options={@dose_units}
      options_label="Unit..."
      placeholder="0.00"
      input_type="number"
      step=".01"
    />

    <.input
      field={f[:additional_dose]}
      field_2={f[:additional_dose_unit_id]}
      type="input-with-select"
      label="Additional Dose"
      options={@dose_units}
      options_label="Unit..."
      placeholder="0.00"
      input_type="number"
      step=".01"
    />

    <.input
      field={f[:max_allowed_limit]}
      field_2={f[:max_allowed_unit_id]}
      type="input-with-select"
      label="Max Allowed Limit"
      options={@dose_units}
      options_label="Unit..."
      placeholder="0.00"
      input_type="number"
      step=".01"
    />
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="pt-7 pl-1">
      <.input
        field={f[:substance_locked_on_order]}
        type="checkbox"
        label="Substance Locked On Order"
      />
    </div>
    <div class="pt-7 pl-1">
      <.input field={f[:additional_dose_allowed]} type="checkbox" label="Additional Dose Allowed" />
    </div>
  </div>

  <:actions>
    <button id="form-button" type="submit" class="w-full btn btn-primary flex space-x-3">
      <%= if(@edit) do %>
        Update
      <% else %>
        Create
      <% end %>
      <span class="loading loading-spinner loading-md htmx-indicator"></span>
    </button>
  </:actions>
</.simple_form>
