<div id="form_container">
  <.header>
    Update Template Product
  </.header>

  <.data_form
    changeset={@changeset}
    action={"#{get_url()}/#{@record.id}"}
    flash={@flash}
    edit={true}
    templates={@templates}
    substances={@substances}
    filling_methods={@filling_methods}
    dose_units={@dose_units}
    formularies={@formularies}
    template_id={@template_id}
  />
</div>
