<%= if Enum.empty?(@products) do %>
  <.no_records />
<% else %>
  <div
    x-sort="triggerEvent(null, 'sort_products')"
    id="products_table"
    class="divide-y divide-border"
  >
    <%= for product <- @products do %>
      <div x-sort:item={product.id} class="flex space-x-5 py-10">
        <div x-sort:handle class="px-5 cursor-move group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"
            />
          </svg>
        </div>
        <div class="flex-grow grid grid-cols-4 gap-4">
          <div class="flex flex-col gap-5">
            <div>
              <div class="text-sm text-muted-foreground">Substance</div>
              <div class="text-sm">{product.class_name}</div>
            </div>
            <div>
              <div class="text-sm text-muted-foreground">Default Product</div>
              <div class="text-sm">{product.formulary_name || "--"}</div>
            </div>
          </div>
          <div class="flex flex-col gap-5">
            <div>
              <div class="text-sm text-muted-foreground">Filling Method</div>
              <div class="text-sm">{product.filling_method_name}</div>
            </div>
            <div>
              <div class="text-sm text-muted-foreground">Dose</div>
              <div class="text-sm">{product.dose} {product.dose_unit}</div>
            </div>
          </div>
          <div class="flex flex-col gap-5">
            <div>
              <div class="text-sm text-muted-foreground">Max. Allowed Limit</div>
              <div class="text-sm">{product.max_allowed_limit} {product.max_allowed_unit}</div>
            </div>
          </div>
          <div class="flex flex-col gap-5">
            <.simple_badge
              state={product.additional_dose_allowed}
              label={"Additional Dose - #{product.additional_dose} #{product.additional_dose_unit}"}
            />

            <.simple_badge
              state={product.substance_locked_on_order}
              label="Substance Locked On Order"
            />
          </div>
        </div>
        <div class="px-5 flex-shrink">
          <.table_actions_edit_delete
            record={product}
            url="/template_products"
            target="template_table_form_modal_contents"
            indicator="template_table_modal_loader"
            model_id="template_table_modal_contents"
            is_admin={true}
            can_update={true}
            can_delete={true}
          />
        </div>
      </div>
    <% end %>
  </div>
  <.simple_form
    for={%{}}
    action="/template_products/sort"
    hx-post="/template_products/sort"
    hx-trigger="updateProductsPositions from:body"
  >
    <input name="_method" type="hidden" value="put" />
    <%= for product <- @products do %>
      <input
        id={"form_product_field_#{product.id}"}
        type="hidden"
        name="products[]"
        value={"#{product.id},#{product.position}"}
      />
    <% end %>
  </.simple_form>
<% end %>
