<div id="form_container">
    <.header>
        Change Password
        <:subtitle>
            <%= @user.name %>
        </:subtitle>
    </.header>
    
    
<.simple_form :let={f} 
    for={@changeset} action={~p"/administrator/users/#{@user.id}/change_password"}
    hx-post={~p"/administrator/users/#{@user.id}/change_password"}
    hx-target="#form_container"
    hx-disabled-elt="#form-button"
    autocomplete="off"
    >
    <.alert flash={@flash} type={:error} />
    <.alert flash={@flash} type={:info} />
    <.input field={f[:password]} type="password" label="Password" required autocomplete="new-password" />
    <.input field={f[:password_confirmation]} type="password" label="Confirm Password" required />
    <:actions>
        <button id="form-button" type="submit" class="w-full btn btn-primary flex space-x-3" >
            Update Password
            <span class="loading loading-spinner loading-md htmx-indicator"></span>
        </button>
    </:actions>
</.simple_form>
</div>