<.table id="users" rows={@users} url={get_url()} meta={@meta}>
    <:col :let={user} label="Login ID" field={:login_id}><%= user.login_id %></:col>
    <:col :let={user} label="Name" field={:name}><%= user.name %></:col>

    <:action :let={user}>
        <button
        hx-get={"#{get_url()}/#{user.id}/change_password"}
        hx-target="#table_modal_contents"
        hx-indicator="#table_modal_indicator"
        hx-on:click="table_modal.showModal()"
        type="button"
        class="btn btn-xs"
        >
        Change Password
        </button>
    </:action>

    <:action :let={user}>
        <button
        hx-get={"#{get_url()}/#{user.id}/edit"}
        hx-target="#table_modal_contents"
        hx-indicator="#table_modal_indicator"
        hx-on:click="table_modal.showModal()"
        type="button"
        class="btn btn-info btn-xs"
        >
        Edit
        </button>
    </:action>

    <:action :let={user}>
        <.form
        for={%{}}
        method="delete"
        action={"#{get_url()}/#{user.id}/delete"}
        hx-delete={"#{get_url()}/#{user.id}/delete"}
        hx-confirm="Are you sure to delete?"
        >
        <button class="btn btn-error btn-xs">
            Delete
        </button>
        </.form>
    </:action>
</.table>

<%= if @meta.has_previous_page or @meta.has_next_page do %>
    <.pagination meta={@meta} url={get_url()} />
<% end %>