<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#form_container"
  hx-disabled-elt="#form-button"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <.flash_group flash={@flash} />

  <div class="grid grid-cols-2 gap-4">
    <.input field={f[:unit]} type="text" label="Unit" required />
  </div>

  <div>
    <label class="label">Types</label>
    <div class="grid grid-cols-3 gap-4 ">
      <label :for={type <- @types} class="label justify-start cursor-pointer">
        <input
          type="checkbox"
          checked={is_selected?(@edit, type.id, @selected_types)}
          class="checkbox checkbox-primary bg-transparent"
          id={"checkbox-#{type.id}"}
        />
        <span class="label-text ml-2"><%= type.name %></span>
      </label>
    </div>
  </div>

  <input type="hidden" name="unit[types]" id="types" value={types_value(@selected_types)} />

  <:actions>
    <button id="form-button" type="submit" class="w-full btn btn-primary flex space-x-3">
      <%= if(@edit) do %>
        Update
      <% else %>
        Create
      <% end %>
      <span class="loading loading-spinner loading-md htmx-indicator"></span>
    </button>
  </:actions>
</.simple_form>

<script>
  // on checkbox changes, use checkbox id to update the hidden input value
  document.querySelectorAll('.checkbox').forEach((checkbox) => {
      checkbox.addEventListener('change', (e) => {
          const types = document.querySelector('#types');
          const checked = Array.from(document.querySelectorAll('.checkbox:checked')).map((el) => el.id.split('-')[1]);
          types.value = checked.join(',');
      });
  });
</script>
