<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#main-contents"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <section class="space-y-6">
    <.flash_group flash={@flash} />

    <.input field={f[:unit]} type="text" label="Unit" required />

    <div>
      <label class="label mb-4">Types</label>
      <div class="grid grid-cols-3 gap-4 ">
        <label :for={type <- @types} class="label gap-3">
          <input
            type="checkbox"
            checked={is_selected?(@edit, type.id, @selected_types)}
            class="input"
            id={"checkbox-#{type.id}"}
          />
          <span class="label-text ml-2">{type.name}</span>
        </label>
      </div>
    </div>

    <input type="hidden" name="unit[types]" id="types" value={types_value(@selected_types)} />

    <div class="mt-10 flex justify-end gap-2">
      <button id="form-button" type="submit" class="btn">
        Save <.btn_htmx_indicator />
      </button>
    </div>
  </section>
</.simple_form>

<script>
  // on checkbox changes, use checkbox id to update the hidden input value
  document.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
      checkbox.addEventListener('change', (e) => {
          const types = document.querySelector('#types');
          const checked = Array.from(document.querySelectorAll('input[type="checkbox"]:checked')).map((el) => el.id.split('-')[1]);
          types.value = checked.join(',');
      });
  });
</script>
