<.app_menu is_admin={@is_admin} user_access_level={@user_access_level} />
<main class="h-full flex flex-col overflow-hidden">
  <.app_header name={@current_user.first_name} />

  <.bread_crumb items={[
    %{label: "Home"}
  ]} />

  <div class="py-10 grow overflow-y-auto scrollbar flex flex-col">
    <.htmx_content_indicator id="main-contents-indicator" />
    <div id="main-contents" class="px-4 sm:px-6 lg:px-8 main-contents hide-on-htmx-request grow">
      <div class="mx-auto max-w-7xl">
        <.header>
          Dashboard
        </.header>
      </div>

      <div class="mt-10 mx-auto max-w-7xl flex flex-col space-y-10">
        <div class="bg-gray-300/10 dark:bg-gray-700/10 px-10 flex flex-col w-full p-6 border border-white/5 rounded">
          <h2 class="font-semibold">
            Orders
          </h2>
        </div>

        <div class="bg-gray-300/10 dark:bg-gray-700/10 px-10 flex flex-col w-full p-6 border border-white/5 rounded">
          <h2 class="font-semibold">
            Admissions
          </h2>
        </div>

        <div class="bg-gray-300/10 dark:bg-gray-700/10 px-10 flex flex-col w-full p-6 border border-white/5 rounded">
          <h2 class="font-semibold">
            Patients
          </h2>
        </div>
      </div>
    </div>
  </div>
</main>
