<.simple_form
  :let={f}
  for={@changeset}
  action={@action}
  hx-post={@action}
  hx-target="#table_modal_form_contents"
  hx-disabled-elt="#form-button"
  hx-on::config-request="formConfigRequest(event)"
  autocomplete="off"
>
  <section class="space-y-6">
    <.flash_group flash={@flash} />

    <.input field={f[:name]} type="text" label="Name" required autocomplete="new-name" />
    <.input
      field={f[:is_admin]}
      type="checkbox-item"
      label="Admin"
      help_text="Admin users have full access to the system."
    />
    <.input
      field={f[:is_verifier]}
      type="checkbox-item"
      label="Verifier"
      help_text="Verifier users can validate orders."
    />

    <footer class="flex justify-end space-x-3">
      <.form_modal_buttons />
    </footer>
  </section>
</.simple_form>
